USE [clictell_auto_etl]
GO
/****** Object:  UserDefinedFunction [dbo].[correct_makemodelyear]    Script Date: 6/9/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[correct_makemodelyear]
(@make varchar(500),
 @model varchar(500),
 @modelyear int)
/*
select * from  [clictell_auto_etl].[dbo].[correct_makemodelyear]('APRILI','RSV4122',2018) 
--------------------------------------------------------------------
Developer			Task			date			Desc
--------------------------------------------------------------------
1. M.Rajesh			created			31/5/2022		cleans and returns make,model,year of known vehicles, returns the same for unknown vehicles

*/
RETURNS @makemodel Table( make varchar(100),model varchar(100),modelyear int)
 AS
 begin
       insert into @makemodel(make,model,modelyear)
       select 	
			  @make,
			  @model,
			  @modelyear
	   update a
       set a.make =
	    (
		case when a.Make in ('APRILLA', 'APRILI', 'APRILIA', 'APRILI','APRILLIA', 'AP') then 'APRILIA' 
		     when a.Make in ('POLARI', 'POLORI', 'POLAR', 'POLA', 'POL', 'POALRI', 'POALAR' ,'POLAI', 'POL.', 'PLO','POLARIS','Polaris Industries','POLARIS TRAILERS', 'PLARIS') then 'POLARIS' 
			 when a.Make in ('Yam','YA','YAHAHA','YAHMA','YAMA','YAMAH','YAMAHA','Yamaha Power','YAMAHA WATERCRAFT','YAMAHA-2','yamaha1','YAMMAH','YAMXVS') then 'YAMAHA' 
			 when a.Make in ('CHEVROL','CHEVROLET','CHEVY', 'CHEV') then 'CHEVROLET'
			 when a.Make in ('CAN AM','CAN-AM','CANAM', 'CANNONDALE') then 'CAN-AM'
			 when a.Make in ('H', 'H.D', 'H.D.', 'HD', 'H-D', 'Hearley', 'Harley','HARLEY DAVIDSON', 'FXRS', 'HARLEY D') then  'HARLEY-DAVIDSON'
			 when a.Make in ('KAW','KAWA','KAWASA','KAWASK','KAWK', 'KAWAS', 'KAWASKI', 'KAWAASAKI', 'KA') then 'KAWASAKI'
			 when a.Make in ('MOTOG','MOTOGU') then 'MOTO GUZZI'
			 when a.Make in ('ROYAL  ENFIELD') then  'ROYEL ENFIELD'
			 when a.Make in ('ULTRA CUSTOM') then 'ULTRA'
			 when a.Make in ('Acc') then 'ACCESS'
			 when a.Make in ('B/DOG', 'BIG Do') then 'BIGDOG'
			 when a.make in ('HND', 'HOND', 'HODNA', 'HONDA  MOWER', 'HONDA POWER', 'HONDA`', 'HIONDA', 'HONDA GL', 'HO') then 'HONDA'
			 when (a.make like '%honda?%' or a.make like '%honda/%' or a.make like '%HONDA SHADOW%') then 'HONDA'
			 when a.make in ('ARTIC CAT', 'ARCTIC', 'ARTIC', 'A/C', 'AC', 'ARCTIC')		then		'ARCTIC CAT'
			 when a.make in ('CF MOTO')		then		'CFMOTO'
			 when a.make in ('CHANGZH', 'Changhou Yamaski', 'CHANGZHOU')		then		'CHANGZHOU NANXIASHU'
			 when a.make in ('DUCA')		then		'DUCATI'
			 when a.make in ('EZLDR','EZLOADER')		then		'EZ LOADER'
			 when a.make in ('ROYAL INFIELD')	then		'ROYAL ENFIELD'
			 when a.make in ('SEA - DOO','SEA DOO', 'SEA-DOO', 'SKI DOO')	then		'SEADOO'
			 when a.make in ('TAO TAO', 'TOW GO')			then		'TAOTAO'
			 when a.make in ('YAMAHA BLACK','YAMAHYA','YAMAMA','YAMHA','YZFR6TB')		then	'YAMAHA'
			 when a.make in ('SUZ', 'SUZI', 'SUZU', 'SUZUKU', 'SUZUZKI') then 'SUZUKI'
			 when a.make in ('CHRYSL') then 'CHRYSLER'
			 when a.make in ('TRIUMP', 'TRIU') then 'TRIUMPH'
			 when a.make in ('VICTO', 'VICTOR') then 'VICTORY'
			 when a.make in ('TM', 'THUNDE', 'THND M') then 'Thunder Mountain'
			 when a.make in ('THOROU') then 'THOROUGHBRED'
			 when a.make in ('INDEPE') then 'INDEPENDENCE'
			 when a.make in ('HARDCO') then 'HARDCORE'
			 when a.make in ('DUTCHM') then 'DUTCHMEN'
			 when a.make in ('AMER') then 'AMERICAN'
			 when a.make in ('BH') then 'Boss Hoss'
			 when a.make in ('VOLKSWAG', 'VW') then 'VOLKSWAGEN'
			 when a.make in ('MVAUGUSTA') then 'MV-AGUSTA'
			 when a.make in ('CADILL') then 'CADILLAC'
			 when a.make in ('Chinese ATV, Scooter & Mi') then 'TAOTAO'
			 when a.make in ('BM', 'BWM') then 'BMW'
			 when a.make in ('Buel', 'EBR') then 'BUELL'
			 when a.make in ('ADLEY') then 'ADLY'
			 when a.make in ('Coleman') then 'Coleman Powersports'
			 when a.make in ('CUBCAD') then 'Cub Cadet'
			 when a.make in ('DROPTA') then 'DROPTAIL'
			 when a.make in ('LA') then 'Land Rover'
			 when a.make in ('JETMO') then 'Jet Moto'
			 when a.make in ('ZHEJIANG KA') then 'ZHEJIA'
		else a.Make end
	    ) 
		  from @makemodel a
        update a 
        set a.Model =
	    (
         case 
			  WHEN (a.model like 'RSV4%' )  and a.make ='APRILIA' THEN 'RSV4'
			  WHEN (a.model like 'TUONO%' or a.model like 'TUORO%' or a.model like 'TUANO%' or a.model like 'TOUNO%')  and a.make ='APRILIA' THEN  'TUONO'
			  WHEN (a.model like 'WILD%CAT%' )  and a.make ='ARCTIC CAT' THEN 'WILDCAT'
			  WHEN (a.model like '%RANGER%' )  and a.make ='POLARIS' THEN 'RANGER'
			  WHEN (a.model like '%RAZOR%' )  and a.make ='POLARIS'	THEN 'RAZOR'
			  WHEN (a.model like '%PREDATOR%' )  and a.make ='POLARIS' THEN	'PREDATOR'
			  WHEN (a.model like '%TRAIL%BLAZER%' )  and a.make ='POLARIS' THEN	'TRAIL BLAZER'
			  WHEN (a.model like '%SCRAMBLER%' )  and a.make ='POLARIS'	THEN 'SCRAMBLER'
			  WHEN (a.model like '%SPORTSMAN%' )  and a.make ='POLARIS'	THEN 'SPORTSMAN'
			  WHEN (a.model like '%SPRTSMN%' )  and a.make ='POLARIS' THEN 'SPRTSMN'
			  WHEN (a.model like '%SPTM%' )  and a.make ='POLARIS' THEN	'SPTM'
			  WHEN (a.model like '%SPTMN%' )  and a.make ='POLARIS'	 THEN 'SPTMN'
			  WHEN (a.model like '%XPLORER%' )  and a.make ='POLARIS'THEN 'XPLORER'
			  WHEN (a.model like '%SPRTSMN%' )  and a.make ='POLARIS' THEN 'SPRTSMN'
			  WHEN (a.model like '%RZR%' )  and a.make ='POLARIS' THEN 'RZR'
			  WHEN (a.model like '%OUTLAW%' )  and a.make ='POLARIS' THEN 'OUTLAW'
			  WHEN (a.model like '%MAGNUM%'  )  and a.make ='POLARIS' THEN 'MAGNUM'
			  WHEN (a.model like '%HAWKEYE%' )  and a.make ='POLARIS' THEN 'HAWKEYE'
			  WHEN (a.model like '%RGR%' )  and a.make ='POLARIS' THEN 'RGR'
			  WHEN (a.model like '%SCRAM%' )  and a.make ='POLARIS' THEN 'SCRAMBLER'
			  WHEN (a.model like '%SCAM%' )  and a.make ='POLARIS' THEN 'SCRAMBLER'
			  when (a.model like '%1100RT%' )  and a.make ='BMW' THEN 'RT'
		      when (a.model like '%1100S%' )  and a.make ='BMW' THEN '1100'
		      when (a.model like '%1150RA%' )  and a.make ='BMW' THEN '1150'
			  when (a.model like '%1150RT%' )  and a.make ='BMW' THen '1150'
			  when (a.model like '%1200 RT%')  and a.make ='BMW'  THEN 'RT'
			  when (a.model like '%1600%')  and a.make ='BMW' THEN '1600'
			  when (a.model like '750%')  and a.make ='BMW' then '750'
			  when (a.model like 'F650GS%')  and a.make ='BMW' then 'F650GS'
			  when (a.model like 'G310%')  and a.make ='BMW' then 'G310'
			  when (a.model like 'G650%')  and a.make ='BMW' then 'G650'
			  when (a.model like 'K100%')  and a.make ='BMW' then 'K100'
			  when (a.model like 'K1200%')  and a.make ='BMW' then 'K1200'
			  when (a.model like 'K1300%')  and a.make ='BMW' then 'K1300'
			  when(a.model like 'K1600%')  and a.make ='BMW' then 'K1600'
			  when (a.model like 'K75%')  and a.make ='BMW' then 'K75'
			  when (a.model like 'R1100%')  and a.make ='BMW' then 'R1100'
			  when (a.model like 'R1150%')  and a.make ='BMW' then 'R1150'
			  when (a.model like 'R1200%')  and a.make ='BMW' then 'R1200'
			  when (a.model like 'S 1000%')  and a.make ='BMW' then 'S 1000'
			  when (a.model like 'X3%')  and a.make ='BMW' then 'X3'
			  when (a.model like 'X5%')  and a.make ='BMW' then 'X5'
			  when (a.model like 'FISH PRO%')  and a.make ='BOMBARDIER' then 'FISH PRO'
			  when (a.model like 'GTI 90%')  and a.make ='BOMBARDIER' then 'GTI 90'
			  when (a.model like 'GTR 230%')  and a.make ='BOMBARDIER' then 'GTR 230'
			  when (a.model like 'GTX%')  and make ='BOMBARDIER' then 'GTX'
			  when (a.model like 'QUEST%')  and a.make ='BOMBARDIER' then 'QUEST'
			when (a.model like 'RXT%')  and make ='BOMBARDIER' then 'RXT'
			when (a.model like 'SPARK 2UP%')  and a.make ='BOMBARDIER' then 'SPARK 2UP'
			when (a.model like 'SPARK 3UP%')  and a.make ='BOMBARDIER' then 'SPARK 3UP'
			when (a.model like 'SPEEDSTER%')  and a.make ='BOMBARDIER' then 'SPEEDSTER'
			when (a.model like 'WAKE%')  and a.make ='BOMBARDIER' then 'WAKE'
			when (a.model like 'A4%')  and make ='CAN-AM' then 'A4'
			when (a.model like 'B9%')  and make ='CAN-AM' then 'B9'
			when (a.model like 'C01000MAX%')  and a.make ='CAN-AM' then 'C01000MAX'
			when (a.model like 'CO1000%')  and a.make ='CAN-AM' then 'CO1000'
			when (a.model like 'CO10%')  and a.make ='CAN-AM' then 'CO10'
			when (a.model like 'COM LTD%')  and a.make ='CAN-AM' then 'COM LTD'
			when (a.model like 'COM1000%')  and a.make ='CAN-AM' then 'COM1000'
			when (a.model like 'COM800%')  and a.make ='CAN-AM' then 'COM800'
			when (a.model like 'COMM DPS%')  and a.make ='CAN-AM' then 'COMM DPS'
			when (a.model like 'COMM LTD%')  and a.make ='CAN-AM' then 'COMM LTD'
			when (a.model like 'COMM XT%')  and a.make ='CAN-AM' then 'COMM XT'
			when (a.model like 'COMMANDER%')  and a.make ='CAN-AM' then 'COMMANDER'
			when (a.model like 'DEF BASE%')  and a.make ='CAN-AM' then 'DEF BASE'
			when (a.model like 'DEF HD5%')  and a.make ='CAN-AM' then 'DEF HD5'
			when (a.model like 'DEF MAX%')  and a.make ='CAN-AM' then 'DEF MAX'
			when (a.model like 'DEF XT%')  and a.make ='CAN-AM' then 'DEF XT'
			when (a.model like 'DEFENDER LTD%')  and a.make ='CAN-AM' then 'DEFENDER LTD'
			when (a.model like 'DEFENDER MAX%')  and a.make ='CAN-AM' then 'DEFENDER MAX'
			when (a.model like 'DEF HD5%')  and a.make ='CAN-AM' then 'DEF HD5'
			when (a.model like 'DEFPRO%')  and make ='CAN-AM' then 'DEFPRO'
			when (a.model like 'DS%')  and a.make ='CAN-AM' then 'DS'
			when (a.model like 'E6%')  and make ='CAN-AM' then 'E6'
			when (a.model like 'F3 LTD%')  and a.make ='CAN-AM' then 'F3 LTD'
			when (a.model like 'F3 S%')  and a.make ='CAN-AM' then 'F3 S'
			when (a.model like 'MAV MAX%')  and a.make ='CAN-AM' then 'MAV MAX'
			when (a.model like 'MAV SPORT%')  and make ='CAN-AM' then 'MAV SPORT'
			when (a.model like 'MAV TRAIL%')  and a.make ='CAN-AM' then 'MAV TRAIL'
			when (a.model like 'MAV X3%')  and a.make ='CAN-AM' then 'MAV X3'
			when (a.model like 'MAV XC%')  and a.make ='CAN-AM' then 'MAV XC'
			when (a.model like 'MAV XRC%')  and a.make ='CAN-AM' then 'MAV XRC'
			when (a.model like 'MAV XRS%')  and a.make ='CAN-AM' then 'MAV XRS'
			when (a.model like 'MAV1000%')  and make ='CAN-AM' then 'MAV1000'
			when (a.model like 'MAVERICK%')  and a.make ='CAN-AM' then 'MAVERICK'
			when (a.model like 'MAVX3%')  and a.make ='CAN-AM' then 'MAVX3'
			when (a.model like 'OL1000%')  and a.make ='CAN-AM' then 'OL1000'
			when (a.model like 'OL450%')  and a.make ='CAN-AM' then 'OL450'
			when (a.model like 'OL500%')  and a.make ='CAN-AM' then 'OL500'
			when (a.model like 'OL570%')  and a.make ='CAN-AM' then 'OL570'
			when (a.model like 'OL650%')  and a.make ='CAN-AM' then 'OL650'
			when (a.model like 'OL800%')  and a.make ='CAN-AM' then 'OL800'
			when (a.model like 'OL850%')  and a.make ='CAN-AM' then 'OL850'
			when (a.model like 'OLMax%')  and a.make ='CAN-AM' then 'OLMax'
			when (a.model like 'OLM100%')  and a.make ='CAN-AM' then 'OLM100'
			when (a.model like 'OLM450%')  and a.make ='CAN-AM' then 'OLM450'
			when (a.model like 'OLM650%')  and a.make ='CAN-AM' then 'OLM650'
			when (a.model like 'OLM8002M%')  and a.make ='CAN-AM' then 'OLM8002M'
			when (a.model like 'OLN MAX%')  and a.make ='CAN-AM' then 'OLN MAX'
			when (a.model like 'OLN XTP%')  and a.make ='CAN-AM' then 'OLN XTP'
			when (a.model like 'OLNDR%')  and a.make ='CAN-AM' then 'OLNDR'
			when (a.model like 'OLXT6502P%')  and a.make ='CAN-AM' then 'OLXT6502P'
			when (a.model like 'OTLNDR%')  and a.make ='CAN-AM' then 'OTLNDR'
			when (a.model like 'OUTLANDER%')  and a.make ='CAN-AM' then 'OUTLANDER'
			when (a.model like 'OUTLNDR%')  and a.make ='CAN-AM' then 'OUTLNDR'
			when (a.model like 'RD SPYDER%')  and a.make ='CAN-AM' then 'RD SPYDER'
			when (a.model like 'REN XMR%')  and a.make ='CAN-AM' then 'REN XMR'
			when (a.model like 'REN1000RX%')  and a.make ='CAN-AM' then 'REN1000'
			when (a.model like 'REN10XXC%')  and a.make ='CAN-AM' then 'REN10XXC'
			when (a.model like 'RENEGADE%')  and a.make ='CAN-AM' then 'RENEGADE'
			when (a.model like 'ROADSTER%')  and a.make ='CAN-AM' then 'ROADSTER'
			when (a.model like 'RT LTD%')  and a.make ='CAN-AM' then 'RT LTD'
			when (a.model like 'RT-S%')  and a.make ='CAN-AM' then 'RT-S'
			when (a.model like 'RTLTDSE6%')  and a.make ='CAN-AM' then 'RTLTDSE6'
			when (a.model like 'RTS%')  and a.make ='CAN-AM' then 'RTS'
			when (a.model like 'RYKER%')  and a.make ='CAN-AM' then 'RYKER'
			when (a.model like 'SPY F3%')  and a.make ='CAN-AM' then 'SPY F3'
			when (a.model like 'SPY RT%')  and a.make ='CAN-AM' then 'SPY RT'
			when (a.model like 'SPYDER%')  and a.make ='CAN-AM' then 'SPYDER'
			when  (a.model like 'SPYDRT%')  and a.make ='CAN-AM' then 'SPYDRT'
			when (a.model like 'SPYRT%')  and a.make ='CAN-AM' then 'SPYRT'
			when (a.model like 'ST-S%')  and a.make ='CAN-AM' then 'ST-S'
			when (a.model like 'x3%')  and a.make ='CAN-AM' then 'x3'
			when (a.model like 'DIAVEL%')  and a.make ='DUCATI' then 'DIAVEL'
			when (a.model like 'HYM%')  and a.make ='DUCATI' then 'HYM'
			when (a.model like 'HYPER%')  and a.make ='DUCATI' then 'HYPER'
			when (a.model like 'M696%')  and a.make ='DUCATI' then 'M696'
			when (a.model like 'M796%')  and a.make ='DUCATI' then 'M796'
			when (a.model like 'MONSTER%')  and a.make ='DUCATI' then 'MONSTER'
			when (a.model like 'MS1200%')  and a.make ='DUCATI' then 'MS1200'
			when (a.model like 'MTS%')  and a.make ='DUCATI' then 'MTS'
			when (a.model like 'MULTI STRADA%')  and a.make ='DUCATI' then 'MULTI STRADA'
			when (a.model like 'PAN1199AB%')  and a.make ='DUCATI' then 'PAN1199AB'
			when (a.model like 'PANIGALE%')  and a.make ='DUCATI' then 'PANIGALE'
			when (a.model like 'SCR800C%')  and a.make ='DUCATI' then 'SCR800C'
			when (a.model like 'SCRAMBLER%')  and a.make ='DUCATI' then 'SCRAMBLER'
			when (a.model like 'SPORT CLASSIC%')  and a.make ='DUCATI' then 'SPORT CLASSIC'
			when  (a.model like 'EX%')  and a.make ='GASGAS' then 'EX'
			when (a.model like 'VT750CDC%')  and a.make ='HONDA' then 'VT750CDC'
			when (a.model like '1000%')  and a.make ='HONDA' then '1000'
			when (a.model like '125%')  and a.make ='HONDA' then '125'
			when (a.model like '150%')  and a.make ='HONDA' then '150'
			when (a.model like '250%')  and a.make ='HONDA' then '250'
			when (a.model like '400%')  and a.make ='HONDA' then '400'
			when (a.model like '600%')  and a.make ='HONDA' then '600'
			when (a.model like '650%')  and make ='HONDA' then '650'
			when (a.model like '700%')  and make ='HONDA' then '700'
			when (a.model like '80%')  and make ='HONDA' then '80'
			when (a.model like 'ACCORD%')  and a.make ='HONDA' then 'ACCORD'
			when (a.model like 'ADV150%')  and a.make ='HONDA' then 'ADV150'
			when (a.model like 'AERO%')  and a.make ='HONDA' then 'AERO'
			when (a.model like 'AFRICA%')  and a.make ='HONDA' then 'AFRICA'
			when (a.model like 'BF%')  and a.make ='HONDA' then 'BF100'
			when (a.model like 'C125A%')  and a.make ='HONDA' then 'C125A'
			when (a.model like 'CB1000%')  and a.make ='HONDA' then 'CB1000'
			when (a.model like 'CB1100%')  and a.make ='HONDA' then 'CB1100'
			when (a.model like 'CB125%')  and a.make ='HONDA' then 'CB125'
			when (a.model like 'CB250%')  and a.make ='HONDA' then 'CB250'
			when (a.model like 'CB300%')  and a.make ='HONDA' then 'CB300'
			when (a.model like 'CB400%')  and a.make ='HONDA' then 'CB400'
			when (a.model like 'CB450%')  and a.make ='HONDA' then 'CB450'
			when (a.model like 'CB500%')  and a.make ='HONDA' then 'CB500'
			when (a.model like 'CB550%')  and a.make ='HONDA' then 'CB550'
			when (a.model like 'CB600F%')  and a.make ='HONDA' then 'CB600F'
			when (a.model like 'CB650%')  and a.make ='HONDA' then  'CB650'
			when (a.model like 'CB700%')  and a.make ='HONDA' then 'CB700'
			when (a.model like 'CB750%')  and a.make ='HONDA' then 'CB750'
			when (a.model like 'CB900%')  and a.make ='HONDA' then 'CB900'
			when (a.model like 'CBR 600%')  and a.make ='HONDA' then 'CBR 600' 
			when (a.model like 'CBR1000%')  and a.make ='HONDA' then 'CBR1000'
			when (a.model like 'CBR10%')  and a.make ='HONDA' then 'CBR10'
			when (a.model like 'CBR1100%')  and a.make ='HONDA' then 'CBR1100'
			when (a.model like 'CBR250%')  and a.make ='HONDA' then 'CBR250'
			when (a.model like 'CBR300%')  and a.make ='HONDA' then 'CBR300'
			when (a.model like 'CBR500%')  and a.make ='HONDA' then 'CBR500'
			when (a.model like 'CBR600%')  and a.make ='HONDA' then 'CBR600'
			when (a.model like 'CBR650%')  and a.make ='HONDA' then 'CBR650'
			when (a.model like 'CBR900%')  and a.make ='HONDA' then 'CBR900'
			when (a.model like 'CBR929%')  and a.make ='HONDA' then 'CBR929'
			when (a.model like 'CBR954%')  and a.make ='HONDA' then 'CBR954'
			when (a.model like 'CHF50%')  and a.make ='HONDA' then 'CHF50'
			when (a.model like 'CIVIC%')  and a.make ='HONDA' then 'CIVIC'
			when (a.model like 'CIVIC SI%')  and a.make ='HONDA' then 'CIVIC SI'
			when (a.model like 'CL%')  and a.make ='HONDA' then 'CL'
			when (a.model like 'CMX1100%')  and a.make ='HONDA' then 'CMX1100'
			when (a.model like 'CMX250%')  and a.make ='HONDA' then 'CMX250'
			when (a.model like 'CMX300%')  and a.make ='HONDA' then 'CMX300'
			when (a.model like 'CMX450%')  and a.make ='HONDA' then 'CMX450'
			when (a.model like 'CMX500%')  and a.make ='HONDA' then 'CMX500'
			when (a.model like 'CN250%')  and a.make ='HONDA' then 'CN250'
			when (a.model like 'CR 85%')  and a.make ='HONDA' then 'CR 85'
			when (a.model like 'CR-V%')  and a.make ='HONDA' then 'CR-V'
			when (a.model like 'CR-Z%')  and a.make ='HONDA' then 'CR-Z'
			when (a.model like 'CR125%')  and a.make ='HONDA' then 'CR125'
			when (a.model like 'CR150%')  and a.make ='HONDA' then 'CR150'
			when (a.model like 'CR250%')  and a.make ='HONDA' then 'CR250'
			when (a.model like 'CR500%')  and a.make ='HONDA' then 'CR500'
			when (a.model like 'CR80%')  and a.make ='HONDA' then 'CR80'
			when (a.model like 'CR85%')  and a.make ='HONDA' then 'CR85'
			when (a.model like 'CRF 450 %')  and a.make ='HONDA' then 'CRF 450'
			when (a.model like 'CRF1000%')  and a.make ='HONDA' then 'CRF1000'
			when (a.model like '%CRF100%')  and a.make ='HONDA' then 'CRF100'
			when (a.model like 'CRF110%')  and a.make ='HONDA' then 'CRF110'
			when (a.model like 'CRF125%')  and a.make ='HONDA' then 'CRF125'
			when (a.model like 'CRF150%')  and a.make ='HONDA' then 'CRF150'
			when (a.model like 'CRF230%')  and a.make ='HONDA' then 'CRF230'
			when (a.model like 'CRF250%')  and a.make ='HONDA' then 'CRF250'
			when (a.model like 'CRF300%')  and a.make ='HONDA' then 'CRF300'
			when (a.model like 'CRF450%')  and a.make ='HONDA' then 'CRF450'
			when (a.model like 'CRF50%')  and a.make ='HONDA' then 'CRF50'
			when (a.model like 'CRF70%')  and a.make ='HONDA' then 'CRF70'
			when (a.model like 'CRF80%')  and a.make ='HONDA' then 'CRF80'
			when (a.model like 'CRV%')  and a.make ='HONDA' then 'CRV'
			when (a.model like 'CT%')  and a.make ='HONDA' then 'CT'
			when (a.model like 'CTX1300%')  and a.make ='HONDA' then 'CTX1300'
			when (a.model like 'CTX700%')  and a.make ='HONDA' then 'CTX700'
			when (a.model like 'CX650%')  and a.make ='HONDA' then 'CX650'
			when (a.model like 'EB10000%')  and a.make ='HONDA' then 'EB10000'
			when (a.model like 'EB2200%')  and a.make ='HONDA' then 'EB2200'
			when (a.model like 'ELEMENT%')  and a.make ='HONDA' then 'ELEMENT'
			when (a.model like 'ELITE%')  and a.make ='HONDA' then 'ELITE'
			when (a.model like 'EM5000%')  and a.make ='HONDA' then 'EM5000'
			when (a.model like 'EM6500%')  and a.make ='HONDA' then 'EM6500'
			when (a.model like 'EU1000%')  and a.make ='HONDA' then 'EU1000'
			when (a.model like 'EU2000%')  and a.make ='HONDA' then 'EU2000'
			when (a.model like 'EU2200%')  and a.make ='HONDA' then 'EU2200'
			when (a.model like 'EU3000%')  and a.make ='HONDA' then 'EU3000'
			when (a.model like 'EU6500%')  and a.make ='HONDA' then 'EU6500'
			when (a.model like 'EU7000%')  and a.make ='HONDA' then 'EU7000'
			when (a.model like 'FOREMAN%')  and a.make ='HONDA' then 'FOREMAN'
			when (a.model like 'FOURTRAX%')  and a.make ='HONDA' then 'FOURTRAX'
			when (a.model like 'FSC600%')  and a.make ='HONDA' then 'FSC600'
			when (a.model like 'GL 1800%')  and a.make ='HONDA' then 'GL 1800'
			when (a.model like 'GL1200%')  and a.make ='HONDA' then 'GL1200'
			when (a.model like 'GL1500%')  and a.make ='HONDA' then 'GL1500'
			when (a.model like 'GL1800%')  and a.make ='HONDA' then 'GL1800'
			when (a.model like 'GL18A%')  and a.make ='HONDA' then 'GL18A'
			when (a.model like 'GL18B%')  and a.make ='HONDA' then 'GL18B'
			when (a.model like 'GL18HP%')  and a.make ='HONDA' then 'GL18HP'
			when (a.model like 'GL18P%')  and a.make ='HONDA' then 'GL18P'
			when (a.model like 'GOLD WING%')  and a.make ='HONDA' then 'GOLD WING'
			when (a.model like 'GROM125%')  and a.make ='HONDA' then 'GROM125'
			when (a.model like 'HRC216%')  and a.make ='HONDA' then'HRC216'
			when (a.model like 'HRN216%')  and a.make ='HONDA' then 'HRN216'
			when (a.model like 'HRR216%')  and a.make ='HONDA' then 'HRR216'
			when (a.model like 'HRX2175%')  and a.make ='HONDA' then 'HRX2175'
			when (a.model like 'INTERSTATE%')  and a.make ='HONDA' then 'INTERSTATE'
			when (a.model like 'MONKEY125%')  and a.make ='HONDA' then 'MONKEY125'
			when (a.model like 'MRT300%')  and a.make ='HONDA' then 'MRT300'
			when (a.model like 'MUV700%')  and a.make ='HONDA' then 'MUV700'
			when (a.model like 'NAVI%')  and a.make ='HONDA' then 'NAVI'
			when (a.model like 'NC700%')  and a.make ='HONDA' then 'NC700'
			when (a.model like 'NC750X%')  and a.make ='HONDA' then 'NC750X'
			when (a.model like 'NCH50%')  and a.make ='HONDA' then 'NCH50'
			when (a.model like 'NCW50%')  and a.make ='HONDA' then 'NCW50'
			when (a.model like 'NHX110%')  and a.make ='HONDA' then 'NHX110'
			when (a.model like 'NIGHT HAWK%')  and a.make ='HONDA' then 'NIGHT HAWK'
			when (a.model like 'NPS50%')  and a.make ='HONDA' then 'NPS50'
			when (a.model like 'NT700%')  and a.make ='HONDA' then 'NT700'
			when (a.model like 'PC800%')  and a.make ='HONDA' then 'PC800'
			when (a.model like 'PCX125%')  and a.make ='HONDA' then 'PCX125'
			when (a.model like 'PCX150%')  and a.make ='HONDA' then 'PCX150'
			when (a.model like 'PIONEER%')  and a.make ='HONDA' then 'PIONEER'
			when (a.model like 'RANCHER%')  and a.make ='HONDA' then 'RANCHER'
			when(a.model like 'REBAL%')  and a.make ='HONDA' then 'REBAL'
			when(a.model like 'REBEL%')  and a.make ='HONDA' then 'REBEL'
			when (a.model like 'RECON%')  and a.make ='HONDA' then 'RECON'
			when (a.model like 'REFLEX%')  and a.make ='HONDA' then 'REFLEX'
			when (a.model like 'SA50%')  and a.make ='HONDA' then 'SA50'
			when (a.model like 'SABRE%')  and a.make ='HONDA' then 'SABRE'
			when (a.model like 'SH150%')  and a.make ='HONDA' then 'SH150'
			when (a.model like 'SHADOW%')  and a.make ='HONDA' then 'SHADOW'
			when (a.model like 'ST1100%')  and a.make ='HONDA' then 'ST1100'
			when (a.model like 'ST13%')  and a.make ='HONDA' then 'ST13'
			when (a.model like 'SXS1000%')  and a.make ='HONDA' then 'SXS1000'
			when (a.model like 'SXS10%')  and a.make ='HONDA' then 'SXS10'
			when (a.model like 'SXS500%')  and a.make ='HONDA' then 'SXS500'
			when (a.model like 'SXS520%')  and a.make ='HONDA' then 'SXS520'
			when (a.model like 'SXS700%')  and a.make ='HONDA' then 'SXS700'
			when (a.model like 'TALON%')  and a.make ='HONDA' then 'TALON'
			when (a.model like 'TRX 350%')  and a.make ='HONDA' then 'TRX 350'
			when (a.model like 'TRX200%')  and a.make ='HONDA' then 'TRX200'
			when (a.model like 'TRX250%')  and a.make ='HONDA' then 'TRX250'
			when (a.model like 'TRX250X%')  and a.make ='HONDA' then 'TRX250X'
			when (a.model like 'TRX300%')  and a.make ='HONDA' then 'TRX300'
			when (a.model like 'TRX300EX%')  and a.make ='HONDA' then 'TRX300EX'
			when (a.model like 'TRX300FW%')  and a.make ='HONDA' then 'TRX300FW'
			when (a.model like 'TRX350%')  and a.make ='HONDA' then 'TRX350'
			when (a.model like 'TRX350FE%')  and a.make ='HONDA' then 'TRX350FE'
			when (a.model like 'TRX350FM%')  and a.make ='HONDA' then 'TRX350FM'
			when (a.model like 'TRX350TE%')  and a.make ='HONDA' then 'TRX350TE'
			when (a.model like 'TRX350TM%')  and a.make ='HONDA' then 'TRX350TM'
			when (a.model like 'TRX400EX%')  and a.make ='HONDA' then 'TRX400EX'
			when (a.model like 'TRX400FA%')  and a.make ='HONDA' then 'TRX400FA'
			when (a.model like 'TRX400FGA%')  and a.make ='HONDA' then 'TRX400FGA'
			when (a.model like 'TRX400FW%')  and a.make ='HONDA' then 'TRX400FW'
			when (a.model like 'TRX400X%')  and a.make ='HONDA' then 'TRX400X'
			when (a.model like 'TRX420%')  and a.make ='HONDA' then 'TRX420'
			when (a.model like 'TRX450ER%')  and a.make ='HONDA' then 'TRX450ER'
			when (a.model like 'TRX450ES%')  and a.make ='HONDA' then 'TRX450ES'
			when (a.model like 'TRX450FE%')  and a.make ='HONDA' then 'TRX450FE'
			when (a.model like 'TRX450FM%')  and a.make ='HONDA' then 'TRX450FM'
			when (a.model like 'TRX450%')  and a.make ='HONDA' then 'TRX450'
			when (a.model like 'TRX500%')  and a.make ='HONDA' then 'TRX500'
			when (a.model like 'TRX520%')  and a.make ='HONDA' then 'TRX520'
			when (a.model like 'TRX650%')  and a.make ='HONDA' then 'TRX650'
			when (a.model like 'TRX680%')  and a.make ='HONDA' then 'TRX680'
			when (a.model like 'TRX70%')  and a.make ='HONDA' then 'TRX70'
			when (a.model like 'TRX90%')  and a.make ='HONDA' then 'TRX90'
			when (a.model like 'VF1100C%')  and a.make ='HONDA' then 'VF1100C'
			when (a.model like 'VF500%')  and a.make ='HONDA' then 'VF500'
			when (a.model like 'VF700%')  and a.make ='HONDA' then 'VF700'
			when (a.model like 'VF750%')  and a.make ='HONDA' then 'VF750'
			when (a.model like 'VFR1200%')  and a.make ='HONDA' then 'VFR1200'
			when (a.model like 'VFR750%')  and a.make ='HONDA' then 'VFR750'
			when (a.model like 'VFR800%')  and a.make ='HONDA' then 'VFR800'
			when (a.model like 'VT100%')  and a.make ='HONDA' then 'VT100'
			when (a.model like 'VT1100%')  and a.make ='HONDA' then 'VT1100'
			when (a.model like 'VT11A1B%')  and a.make ='HONDA' then 'VT11A1B'
			when (a.model like 'VT11B%')  and a.make ='HONDA' then 'VT11B'
			when (a.model like 'VT11C2A%')  and a.make ='HONDA' then 'VT11C2A'
			when (a.model like 'VT1300%')  and a.make ='HONDA' then 'VT1300'
			when (a.model like 'VT13CR%')  and a.make ='HONDA' then 'VT13CR'
			when (a.model like 'VT13CT%')  and a.make ='HONDA' then 'VT13CT'
			when (a.model like 'VT13CX%')  and a.make ='HONDA' then 'VT13CX'
			when (a.model like 'VT1800%')  and a.make ='HONDA' then 'VT1800'
			when (a.model like 'VT500%')  and a.make ='HONDA' then 'VT500'
			when (a.model like 'VT600%')  and a.make ='HONDA' then 'VT600'
			when (a.model like 'VT700%')  and a.make ='HONDA' then 'VT700'
			when (a.model like 'VT750%')  and a.make ='HONDA' then 'VT750'
			when (a.model like 'VT750%')  and a.make ='HONDA' then 'VT750'
			when (a.model like 'VTR1000%')  and a.make ='HONDA' then 'VTR1000'
			when (a.model like 'VTX1300%')  and a.make ='HONDA' then 'VTX1300'
			when (a.model like 'VTX13%')  and a.make ='HONDA' then 'VTX13'
			when (a.model like 'VTX1800%')  and a.make ='HONDA' then 'VTX1800'
			when (a.model like 'VTX18C%')  and a.make ='HONDA' then 'VTX18C'
			when (a.model like 'VTX18%')  and a.make ='HONDA' then 'VTX18'
			when (a.model like 'XR100%')  and a.make ='HONDA' then 'XR100'
			when (a.model like 'XR200%')  and a.make ='HONDA' then 'XR200'
			when (a.model like 'XR250%')  and a.make ='HONDA' then 'XR250'
			when (a.model like 'XR400%')  and a.make ='HONDA' then 'XR400'
			when (a.model like 'XR50%')  and a.make ='HONDA' then 'XR50'
			when (a.model like 'XR600%')  and a.make ='HONDA' then 'XR600'
			when (a.model like 'XR650%')  and a.make ='HONDA' then 'XR650'
			when (a.model like 'XR70%')  and a.make ='HONDA' then 'XR70'
			when (a.model like 'XR80%')  and a.make ='HONDA' then 'XR80'
			when (a.model like 'Z50%')  and a.make ='HONDA' then 'Z50'
			when (a.model like '701%')  and a.make ='HUSQVARNA' then '701'
			when (a.model like 'FE501%')  and a.make ='HUSQVARNA' then 'FE501'
			when (a.model like 'TC 85%')  and a.make ='HUSQVARNA' then 'TC 85'
			when (a.model like 'TE 150%')  and a.make ='HUSQVARNA' then 'TE 150'
			when (a.model like 'TE 250%')  and a.make ='HUSQVARNA' then 'TE 250'
			when (a.model like 'TE300%')  and a.make ='HUSQVARNA' then 'TE300'
			when (a.model like 'VITPILEN%')  and a.make ='HUSQVARNA' then 'VITPILEN'
			when (a.model like 'CHALLENGER%')  and a.make ='INDIAN' then 'CHALLENGER'
			when (a.model like 'CHEIF%')  and a.make ='INDIAN' then 'CHEIF'
			when (a.model like 'CHIEF BOBBER%')  and a.make ='INDIAN' then 'CHIEF BOBBER'
			when (a.model like 'CHIEF VINTAGE%')  and a.make ='INDIAN' then 'CHIEF VINTAGE'
			when (a.model like 'CHIEFTAIN DH%')  and a.make ='INDIAN' then 'CHIEFTAIN DH'
			when (a.model like 'FTR 1200%')  and a.make ='INDIAN' then 'FTR 1200'
			when (a.model like 'N14TCAAA%')  and a.make ='INDIAN' then 'N14TCAAA'
			when (a.model like 'N15CCCAAA%')  and a.make ='INDIAN' then 'N15CCCAAA'
			when (a.model like 'N15CCVAAA%')  and a.make ='INDIAN' then 'N15CCVAAA'
			when (a.model like 'N15TRAAA%')  and a.make ='INDIAN' then 'N15TRAAA'
			when (a.model like 'N16MSB11%')  and a.make ='INDIAN' then 'N16MSB11'
			when (a.model like 'N16THAAA%')  and a.make ='INDIAN' then 'N16THAAA'
			when (a.model like 'N17MSB00%')  and a.make ='INDIAN' then 'N17MSB00'
			when (a.model like 'N18MTB00A%')  and a.make ='INDIAN' then 'N18MTB00A'
			when  (a.model like 'N18TCAAAA%')  and a.make ='INDIAN' then 'N18TCAAAA'
			when (a.model like 'N18TFAAAA%')  and a.make ='INDIAN' then 'N18TFAAAA'
			when (a.model like 'N18TRAAA%')  and a.make ='INDIAN' then 'N18TRAAA'
			when (a.model like 'N19CVAAA%')  and a.make ='INDIAN' then 'N19CVAAA'
			when (a.model like 'N19MSA00%')  and a.make ='INDIAN' then 'N19MSA00'
			when (a.model like 'N19MTA00%')  and a.make ='INDIAN' then 'N19MTA00'
			when (a.model like 'N19TRAAAA%')  and a.make ='INDIAN' then 'N19TRAAAA'
			when (a.model like 'N20LCARRA%')  and a.make ='INDIAN' then 'N20LCARRA'
			when (a.model like 'N21LCBRRA%')  and a.make ='INDIAN' then 'N21LCBRRA'
			when (a.model like 'N21TCDBB%')  and a.make ='INDIAN' then 'N21TCDBB'
			when (a.model like 'N21TJDDB%')  and a.make ='INDIAN' then 'N21TJDDB'
			when (a.model like 'ROADMASTER%')  and a.make ='INDIAN' then 'ROADMASTER'
			when (a.model like 'SCOUT 100%')  and a.make ='INDIAN' then 'SCOUT 100'
			when (a.model like 'SCOUT 60%')  and a.make ='INDIAN' then 'SCOUT 60'
			when (a.model like 'SCOUT ABS%')  and a.make ='INDIAN' then 'SCOUT ABS'
			when (a.model like 'SCOUT BOB%')  and a.make ='INDIAN' then 'SCOUT BOB'
			when (a.model like 'SCOUT BOBBER%')  and a.make ='INDIAN' then 'SCOUT BOBBER'
			when (a.model like 'SCOUT ICON%')  and a.make ='INDIAN' then 'SCOUT ICON'
			when (a.model like 'SCOUT SIXTY%')  and a.make ='INDIAN' then 'SCOUT SIXTY'
			when (a.model like 'SCT BOB 20%')  and a.make ='INDIAN' then 'SCT BOB 20'
			when (a.model like 'SCT BOB 60%')  and a.make ='INDIAN' then 'SCT BOB 60'
			when (a.model like 'SPRINGFIELD%')  and a.make ='INDIAN' then 'SPRINGFIELD'
			when (a.model like 'VINTAGE%')  and make ='INDIAN' then 'VINTAGE'
			WHEN (a.model like '1200%' )  and a.make ='HARLEY-DAVIDSON'			THEN '1200'
			WHEN	(a.model like '883%' )  and a.make ='HARLEY-DAVIDSON'			THEN '883'
			WHEN	(a.model like 'BIG%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'BIG DOG'
			WHEN	(a.model like 'BUEL%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'BUELL'
			WHEN	(a.model like 'ELEC%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'ELECTRA GLIDE'
			WHEN	(a.model like 'ELCTRAGLID%' )  and a.make ='HARLEY-DAVIDSON'	THEN 'ELECTRA GLIDE'
			WHEN	(a.model like 'BREAKOUT%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'BREAKOUT'
			WHEN	(a.model like 'CUSTOM%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'CUSTOM'
			WHEN	(a.model like 'DYAN GLIDE%' )  and a.make ='HARLEY-DAVIDSON'	THEN 'DYNA GLIDE'
			WHEN	(a.model like 'DYNA GLUIDE%' )  and a.make ='HARLEY-DAVIDSON'	THEN 'DYNA GLIDE'
			WHEN	(a.model like 'DYNO%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'DYNA'
			WHEN	(a.model like 'DUECE%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'DUCE'
			WHEN	(a.model like 'FLD%103' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FLD103'
			WHEN	(a.model like 'FLFBS%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'FLFBS'
			WHEN	(a.model like 'FLHPOLICE%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FLHP POLICE'
			WHEN	(a.model like 'FLHRC%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'FLHRC'
			WHEN	(a.model like 'FLHR %' )  and a.make ='HARLEY-DAVIDSON'			THEN 'FLHR SHRINE'
			WHEN	(a.model like 'FLHTCU-I%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FLHTCUI'
			WHEN	(a.model like 'FLHT...%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FLHT'
			WHEN	(a.model like 'FLHX-103' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FLHX103'
			WHEN	(a.model like 'FX SUPERGLIDE' )  and a.make ='HARLEY-DAVIDSON'	THEN 'FX SUPER GLIDE'
			WHEN	(a.model like 'FX-1200' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FX1200'
			WHEN	(a.model like 'HERATIGE' )  and a.make ='HARLEY-DAVIDSON'		THEN 'HERITAGE'
			WHEN	(a.model like 'HERITAGE S%' )  and a.make ='HARLEY-DAVIDSON'	THEN 'HERITAGE SOFTAIL'
			WHEN	(a.model like 'HERRITAGE' )  and a.make ='HARLEY-DAVIDSON'		THEN 'HERITAGE'
			WHEN	(a.model like 'HERIT SOFT CLAS') and a.make ='HARLEY-DAVIDSON'	THEN 'HERITAGE'
			WHEN	(a.model like 'LOWRIDER' )  and a.make ='HARLEY-DAVIDSON'		THEN 'LOW RIDER'
			WHEN	(a.model like 'FLSTN 103' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FLSTN103'
			WHEN	(a.model like 'IRON 1200™' )  and a.make ='HARLEY-DAVIDSON'		THEN 'IRONHEAD'
			WHEN	(a.model like 'FLHTCUSE5-' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FLHTCUSE5'
			WHEN	(a.model like 'HER SOFTAIL' )  and a.make ='HARLEY-DAVIDSON'	THEN 'HERITAGE SOFTAIL'
			WHEN	(a.model like 'FLHTCUSE5-' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FLHTCUSE5'
			WHEN	(a.model like 'FLTRX-103' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FLTRX103'
			WHEN	(a.model like 'FXDF FAT' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FXDF FAT BOB'
			WHEN	(a.model like 'FXDL DYNA LOW RI') and a.make ='HARLEY-DAVIDSON'	THEN 'FXDL DYNA LOW RID'
			WHEN	(a.model like 'MISC.' )  and a.make ='HARLEY-DAVIDSON'			THEN 'MISC'
			WHEN	(a.model like 'WIDEGLIDE' )  and a.make ='HARLEY-DAVIDSON'		THEN 'WIDE GLIDE'
			WHEN	(a.model like 'FXR-2' )  and a.make ='HARLEY-DAVIDSON'			THEN 'FXR2'
			WHEN	(a.model like 'FXDR™ 114' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FXDR114'
			WHEN	(a.model like 'FLHTCU%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FLHTCU'
			WHEN	(a.model like 'FLHTK%'  )   and a.make ='HARLEY-DAVIDSON'		THEN 'FLHTK'
			WHEN	(a.model like 'FXDWG%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'FXDWG'
			WHEN	(a.model like 'FLSTS%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'FLSTS'
			WHEN	(a.model like 'FLHRS%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'FLHRS'
			WHEN	(a.model like 'FLTRXS%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'FLTRXS'
			WHEN	(a.model like 'FXST%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'FXST'
			WHEN	(a.model like 'ROADSTER™%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'ROADSTER'
			WHEN	(a.model like 'FXR%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'FXR'
			WHEN	(a.model like 'FXB%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'FXB'
			WHEN	(a.model like 'FXSB%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'FXSB'
			WHEN	(a.model like 'MT%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'MT500'
			WHEN	(a.model like 'SPORTSTER%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'SPORTSTER'
			WHEN	(a.model like 'SOFTAIL%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'SOFTAIL'
			WHEN	(a.model like 'SOFT TAIL%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'SOFTAIL'
			WHEN	(a.model like 'SHOVELHEAD%' )  and a.make ='HARLEY-DAVIDSON'	THEN 'SHOVEL HEAD'
			WHEN	(a.model like 'SPROSTER 1200%' )  and a.make ='HARLEY-DAVIDSON'	THEN 'SPORTSTER'
			WHEN	(a.model like 'SUPER GLYDE' )  and a.make ='HARLEY-DAVIDSON'	THEN 'SUPER GLIDE'
			WHEN	(a.model like 'SOFTTAIL%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'SOFTAIL'
			WHEN	(a.model like 'VRSCAW%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'VRSCAW'
			WHEN	(a.model like 'NIGHTTRAI%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'NIGHT TRAIN'
			WHEN	(a.model like 'XL1200%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'XL1200'
			WHEN	(a.model like 'XL 1200%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'XL1200'
			WHEN	(a.model like 'XL883%' )  and a.make ='HARLEY-DAVIDSON'			THEN 'XL883'
			WHEN	(a.model like 'XLH 1200%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'XLH 1200'
			WHEN	(a.model like 'XR%1200%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'XR1200'
			WHEN	(a.model like 'XLH 883%' )  and a.make ='HARLEY-DAVIDSON'		THEN 'XLH 883'
			WHEN	(a.model like 'LAZER6021%' )  and a.make ='SSR'		THEN 'LAZER6021'
			WHEN	(a.model like 'SR110%' )  and a.make ='SSR'			THEN 'SR110'
			WHEN	(a.model like 'SR125%' )  and a.make ='SSR'			THEN 'SR125'
			WHEN	(a.model like 'SR140%' )  and a.make ='SSR'			THEN 'SR140'
			WHEN	(a.model like 'SR189%' )  and a.make ='SSR'			THEN 'SR189'
			WHEN	(a.model like 'SRN%70AUTO%' )  and a.make ='SSR'	THEN 'SRN070AUTO'
			WHEN	(a.model like 'SRN%70C%' )  and a.make ='SSR'		THEN 'SRN070C'
			WHEN	(a.model like 'SRN110%' )  and a.make ='SSR'		THEN 'SRN110'
			WHEN	(a.model like 'SRN125%' )  and a.make ='SSR'		THEN 'SRN125'
			WHEN	(a.model like 'SRXF250%' )  and a.make ='SSR'		THEN 'SRXF250'
			WHEN	(a.model like 'SSR%' )  and a.make ='SSR'			THEN 'SSR'
			WHEN	(a.model like 'SX50%' )  and a.make ='SSR'			THEN 'SX50'
			WHEN	(a.model like 'CHALLEN%' )  and a.make ='SEADOO'	THEN 'CHALLENGER'
			WHEN	(a.model like 'FISHPRO%' )  and a.make ='SEADOO'	THEN 'FISHPRO'
			WHEN	(a.model like 'GTI%' )  and a.make ='SEADOO'		THEN 'GTI'
			WHEN	(a.model like 'GTX%' )  and a.make ='SEADOO'		THEN 'GTX'
			WHEN	(a.model like 'RTX%' )  and a.make ='SEADOO'		THEN 'RTX'
			WHEN	(a.model like 'COMPAGNO%' )  and a.make ='KYMCO'	THEN 'COMPAGNO'
			WHEN	(a.model like 'DOWNTOWN%' )  and a.make ='KYMCO'	THEN 'DOWNTOWN'
			WHEN	(a.model like 'GRAND%VIST%' )  and a.make ='KYMCO'	THEN 'GRANDVISTA'
			WHEN	(a.model like 'KG10%' )  and a.make ='KYMCO'		THEN 'KG10'
			WHEN	(a.model like 'KL30SB%' )  and a.make ='KYMCO'		THEN 'KL30SB'
			WHEN	(a.model like 'KPIPE%' )  and a.make ='KYMCO'		THEN 'KPIPE'
			WHEN	(a.model like 'LA30%' )  and a.make ='KYMCO'		THEN 'LA30'
			WHEN	(a.model like 'LB30%' )  and a.make ='KYMCO'		THEN 'LB30'
			WHEN	(a.model like 'LIKE%' )  and a.make ='KYMCO'		THEN 'LIKE'
			WHEN	(a.model like 'MAXXER%' )  and a.make ='KYMCO'		THEN 'MAXXER'
			WHEN	(a.model like 'MONGOOSE%' )  and a.make ='KYMCO'	THEN 'MONGOOSE'
			WHEN	(a.model like 'MXU%' )  and a.make ='KYMCO'			THEN 'MXU'
			WHEN	(a.model like 'PEOPLE%' )  and a.make ='KYMCO'		THEN 'PEOPLE'
			WHEN	(a.model like 'SPADE%' )  and a.make ='KYMCO'		THEN 'SPADE'
			WHEN	(a.model like 'SUPER%8%' )  and a.make ='KYMCO'		THEN 'SUPER 8'
			WHEN	(a.model like 'UXV%' )  and a.make ='KYMCO'			THEN 'UXV'
			WHEN	(a.model like 'X%TOWN%' )  and a.make ='KYMCO'		THEN 'X TOWN'
			WHEN	(a.model like 'XCITING%' )  and a.make ='KYMCO'		THEN 'XCITING'
			WHEN	(a.model like '%ADVENTURE%' )  and a.make ='KTM'	THEN 'ADVENTURE'
			WHEN	(a.model like '%DUKE%' )  and a.make ='KTM'			THEN 'DUKE'
			WHEN	(a.model like '%RC390%' )  and a.make ='KTM'		THEN 'RC390'
			WHEN	(a.model like '%SX%' )  and a.make ='KTM'			THEN 'SX'
			WHEN	(a.model like '%XC%W%' )  and a.make ='KTM'			THEN 'XCW'
			WHEN	(a.model like '%MULE%' )  and a.make ='KAWASAKI'	THEN 'MULE'
			WHEN	(a.model like '%NINJA%' )  and a.make ='KAWASAKI'	THEN 'NINJA'
			WHEN	(a.model like '%PRAIRIE%' )  and a.make ='KAWASAKI'	THEN 'PRAIRIE'
			WHEN	(a.model like '%TERYX%' )  and a.make ='KAWASAKI'	THEN 'TERYX'
			WHEN	(a.model like '%VERSYS%' )  and a.make ='KAWASAKI'	THEN 'VERSYS'
			WHEN	(a.model like '%VN1500%' )  and a.make ='KAWASAKI'	THEN 'VN1500'
			WHEN	(a.model like '%VN1600%' )  and a.make ='KAWASAKI'	THEN 'VN1600'
			WHEN	(a.model like '%VN1700%' )  and a.make ='KAWASAKI'	THEN 'VN1700'
			WHEN	(a.model like '%VN2000%' )  and a.make ='KAWASAKI'	THEN 'VN2000'
			WHEN	(a.model like '%VN750%' )  and a.make ='KAWASAKI'	THEN 'VN750'
			WHEN	(a.model like '%VN800%' )  and a.make ='KAWASAKI'	THEN 'VN800'
			WHEN	(a.model like '%VN900%' )  and a.make ='KAWASAKI'	THEN 'VN900'
			WHEN	(a.model like 'Z1000%' )  and a.make ='KAWASAKI'	THEN 'Z1000'
			WHEN	(a.model like 'Z400%' )  and a.make ='KAWASAKI'		THEN 'Z400'
			WHEN	(a.model like 'Z%650%' )  and a.make ='KAWASAKI'	THEN 'Z650'
			WHEN	(a.model like 'ZEPH%' )  and a.make ='KAWASAKI'		THEN 'ZEPHYER'
			WHEN	(a.model like 'ZG1000%' )  and a.make ='KAWASAKI'	THEN 'ZG1000'
			WHEN	(a.model like 'ZG1200%' )  and a.make ='KAWASAKI'	THEN 'ZG1200'
			WHEN	(a.model like 'ZG1400%' )  and a.make ='KAWASAKI'	THEN 'ZG1400'
			WHEN	(a.model like 'ZL600%' )  and a.make ='KAWASAKI'	THEN 'ZL600'
			WHEN	(a.model like 'ZL900%' )  and a.make ='KAWASAKI'	THEN 'ZL900'
			WHEN	(a.model like 'ZR1000%' )  and a.make ='KAWASAKI'	THEN 'ZR1000'
			WHEN	(a.model like 'ZR550%' )  and a.make ='KAWASAKI'	THEN 'ZR550'
			WHEN	(a.model like 'ZR750%' )  and a.make ='KAWASAKI'	THEN 'ZR750'
			WHEN	(a.model like 'ZR800%' )  and a.make ='KAWASAKI'	THEN 'ZR800'
			WHEN	(a.model like 'ZR900%' )  and a.make ='KAWASAKI'	THEN 'ZR900'
			WHEN	(a.model like 'ZRX%' )  and a.make ='KAWASAKI'		THEN 'ZRX'
			WHEN	(a.model like 'ZX%1000%' )  and a.make ='KAWASAKI'	THEN 'ZX1000'
			WHEN	(a.model like 'ZX1100%' )  and a.make ='KAWASAKI'	THEN 'ZX1100'
			WHEN	(a.model like 'ZX1200%' )  and a.make ='KAWASAKI'	THEN 'ZX1200'
			WHEN	(a.model like 'ZX1400%' )  and a.make ='KAWASAKI'	THEN 'ZX1400'
			WHEN	(a.model like 'ZX600%' )  and a.make ='KAWASAKI'	THEN 'ZX600'
			WHEN	(a.model like 'ZX636%' )  and a.make ='KAWASAKI'	THEN 'ZX636'
			WHEN	(a.model like 'ZX750%' )  and a.make ='KAWASAKI'	THEN 'ZX750'
			WHEN	(a.model like 'ZX900%' )  and a.make ='KAWASAKI'	THEN 'ZX900'
			WHEN	(a.model like 'ZZR600%' )  and a.make ='KAWASAKI'	THEN 'ZZR600'
			WHEN	(a.model like 'MEAN STR%' )  and a.make ='KAWASAKI'	THEN 'MEAN STREAK'
			WHEN	(a.model like 'BN125%' )  and a.make ='KAWASAKI'	THEN 'BN125'
			WHEN	(a.model like 'BR125%' )  and a.make ='KAWASAKI'	THEN 'BR125'
			WHEN	(a.model like 'BRUTE%' )  and a.make ='KAWASAKI'	THEN 'BRUTE'
			WHEN	(a.model like 'EJ800%' )  and a.make ='KAWASAKI'	THEN 'EJ800'
			WHEN	(a.model like 'EN500%' )  and a.make ='KAWASAKI'	THEN 'EN500'
			WHEN	(a.model like 'EN650%' )  and a.make ='KAWASAKI'	THEN 'EN650'
			WHEN	(a.model like 'ER400%' )  and a.make ='KAWASAKI'	THEN 'ER400'
			WHEN	(a.model like 'ER650%' )  and a.make ='KAWASAKI'	THEN 'ER650'
			WHEN	(a.model like 'EX250%' )  and a.make ='KAWASAKI'	THEN 'EX250'
			WHEN	(a.model like 'EX300%' )  and a.make ='KAWASAKI'	THEN 'EX300'
			WHEN	(a.model like 'EX400%' )  and a.make ='KAWASAKI'	THEN 'EX400'
			WHEN	(a.model like 'EX500%' )  and a.make ='KAWASAKI'	THEN 'EX500'
			WHEN	(a.model like 'EX650%' )  and a.make ='KAWASAKI'	THEN 'EX650'
			WHEN	(a.model like 'KAF1000%' )  and a.make ='KAWASAKI'	THEN 'KAF1000'
			WHEN	(a.model like 'KAF300%' )  and a.make ='KAWASAKI'	THEN 'KAF300'
			WHEN	(a.model like 'KAF400%' )  and a.make ='KAWASAKI'	THEN 'KAF400'
			WHEN	(a.model like 'KAF620%' )  and a.make ='KAWASAKI'	THEN 'KAF620'
			WHEN	(a.model like 'KAF700%' )  and a.make ='KAWASAKI'	THEN 'KAF700'
			WHEN	(a.model like 'KAF820%' )  and a.make ='KAWASAKI'	THEN 'KAF820'
			WHEN	(a.model like 'KAF950%' )  and a.make ='KAWASAKI'	THEN 'KAF950'
			WHEN	(a.model like 'KAT820%' )  and a.make ='KAWASAKI'	THEN 'KAT820'
			WHEN	(a.model like 'KDX%200%' )  and a.make ='KAWASAKI'	THEN 'KDX200'
			WHEN	(a.model like 'KDX50%' )  and a.make ='KAWASAKI'	THEN 'KDX50'
			WHEN	(a.model like 'KF950%' )  and a.make ='KAWASAKI'	THEN 'KF950'
			WHEN	(a.model like 'KL650%' )  and a.make ='KAWASAKI'	THEN 'KL650'
			WHEN	(a.model like 'KLE300%' )  and a.make ='KAWASAKI'	THEN 'KLE300'
			WHEN	(a.model like 'KLE650%' )  and a.make ='KAWASAKI'	THEN 'KLE650'
			WHEN	(a.model like 'KLF%220%' )  and a.make ='KAWASAKI'	THEN 'KLF220'
			WHEN	(a.model like 'KLF250%' )  and a.make ='KAWASAKI'	THEN 'KLF250'
			WHEN	(a.model like 'KLF300%' )  and a.make ='KAWASAKI'	THEN 'KLF300'
			WHEN	(a.model like 'KLR%250%' )  and a.make ='KAWASAKI'	THEN 'KLR250'
			WHEN	(a.model like 'KLR%650%' )  and a.make ='KAWASAKI'	THEN 'KLR650'
			WHEN	(a.model like 'KLX%110%' )  and a.make ='KAWASAKI'	THEN 'KLX110'
			WHEN	(a.model like 'KLX125%' )  and a.make ='KAWASAKI'	THEN 'KLX125'
			WHEN	(a.model like 'KLX140%' )  and a.make ='KAWASAKI'	THEN 'KLX140'
			WHEN	(a.model like 'KLX200%' )  and a.make ='KAWASAKI'	THEN 'KLX200'
			WHEN	(a.model like 'KLX230%' )  and a.make ='KAWASAKI'	THEN 'KLX230'
			WHEN	(a.model like 'KLX250%' )  and a.make ='KAWASAKI'	THEN 'KLX250'
			WHEN	(a.model like 'KLX300%' )  and a.make ='KAWASAKI'	THEN 'KLX300'
			WHEN	(a.model like 'KLZ1000%' )  and a.make ='KAWASAKI'	THEN 'KLZ1000'
			WHEN	(a.model like 'KRF1000%' )  and a.make ='KAWASAKI'	THEN 'KRF1000'
			WHEN	(a.model like 'KRF750%' )  and a.make ='KAWASAKI'	THEN 'KRF750'
			WHEN	(a.model like 'KRF800%' )  and a.make ='KAWASAKI'	THEN 'KRF800'
			WHEN	(a.model like 'KRT750%' )  and a.make ='KAWASAKI'	THEN 'KRT750'
			WHEN	(a.model like 'KRT800%' )  and a.make ='KAWASAKI'	THEN 'KRT800'
			WHEN	(a.model like 'KRX1000%' )  and a.make ='KAWASAKI'	THEN 'KRX1000'
			WHEN	(a.model like 'KSF400%' )  and a.make ='KAWASAKI'	THEN 'KSF400'
			WHEN	(a.model like 'KSF450%' )  and a.make ='KAWASAKI'	THEN 'KSF450'
			WHEN	(a.model like 'KSF50%' )  and a.make ='KAWASAKI'	THEN 'KSF50'
			WHEN	(a.model like 'KSF90%' )  and a.make ='KAWASAKI'	THEN 'KSF90'
			WHEN	(a.model like 'KSV700%' )  and a.make ='KAWASAKI'	THEN 'KSV700'
			WHEN	(a.model like 'KVF300%' )  and a.make ='KAWASAKI'	THEN 'KVF300'
			WHEN	(a.model like 'KVF360%' )  and a.make ='KAWASAKI'	THEN 'KVF360'
			WHEN	(a.model like 'KVF400%' )  and a.make ='KAWASAKI'	THEN 'KVF400'
			WHEN	(a.model like 'KVF650%' )  and a.make ='KAWASAKI'	THEN 'KVF650'
			WHEN	(a.model like 'KVF700%' )  and a.make ='KAWASAKI'	THEN 'KVF700'
			WHEN	(a.model like 'KVF750%' )  and a.make ='KAWASAKI'	THEN 'KVF750'
			WHEN	(a.model like 'KX%100%' )  and a.make ='KAWASAKI'	THEN 'KX100'
			WHEN	(a.model like 'KX250%' )  and a.make ='KAWASAKI'	THEN 'KX250'
			WHEN	(a.model like 'KX252%' )  and a.make ='KAWASAKI'	THEN 'KX252'
			WHEN	(a.model like 'KX450%' )  and a.make ='KAWASAKI'	THEN 'KX450'
			WHEN	(a.model like 'KX65%' )  and a.make ='KAWASAKI'		THEN 'KX65'
			WHEN	(a.model like 'KX80%' )  and a.make ='KAWASAKI'		THEN 'KX80'
			WHEN	(a.model like 'KX85%' )  and a.make ='KAWASAKI'		THEN 'KX85'
			WHEN	(a.model like 'KZ1000%' )  and a.make ='KAWASAKI'	THEN 'KZ1000'
			WHEN	(a.model like 'KZ550%' )  and a.make ='KAWASAKI'	THEN 'KZ550'
			WHEN	(a.model like 'LAKOTA%' )  and a.make ='KAWASAKI'	THEN 'LAKOTA'
			when	(a.model like 'AN400%' )  and a.make ='SUZUKI'	then	'AN400'
			when	(a.model like 'AN650%' )  and a.make ='SUZUKI'	then	'AN650'
			when	(a.model like 'BANDIT%' )  and a.make ='SUZUKI'	then	'BANDIT'
			when	(a.model like 'BLVD%' )  and a.make ='SUZUKI'	then	'BLVD'
			when	(a.model like 'BOLUEVARD%' or a.model like 'BOULEVARD%')  and a.make ='SUZUKI' then 'BOULEVARD'
			when	(a.model like 'BURGMAN%650%' )  and a.make ='SUZUKI'		then	'BURGMAN650'
			WHEN	(a.model like 'BUS%' )  and a.make ='SUZUKI'		THEN	'BUSA'
			WHEN	(a.model like 'C%90%' )  and a.make ='SUZUKI'		THEN	'C90'
			WHEN	(a.model like 'C%50%' )  and a.make ='SUZUKI'		THEN	'C50'
			WHEN	(a.model like 'DL%1000%' )  and a.make ='SUZUKI'	THEN	'DL1000'
			WHEN	(a.model like 'DL%650%' )  and a.make ='SUZUKI'		THEN	'DL650'
			WHEN	(a.model like 'DR%Z%' )  and a.make ='SUZUKI'		THEN	'DRZ'
			WHEN	(a.model like 'DR%200%' )  and a.make ='SUZUKI'		THEN	'DR200'
			WHEN	(a.model like 'DR%350%' )  and a.make ='SUZUKI'		THEN	'DR350'
			WHEN	(a.model like 'DR%650%' )  and a.make ='SUZUKI'		THEN	'DR650'
			WHEN	(a.model like 'EIGER%' )  and a.make ='SUZUKI'		THEN	'EIGER'
			WHEN	(a.model like 'GS500%' )  and a.make ='SUZUKI'		THEN	'GS500'
			WHEN	(a.model like 'GSF%' )  and a.make ='SUZUKI'		THEN	'GSF'
			WHEN	(a.model like 'GSX%' )  and a.make ='SUZUKI'		THEN	'GSX'
			WHEN	(a.model like 'GZ%250%' )  and a.make ='SUZUKI'		THEN	'GZ250'
			WHEN	(a.model like 'INTRU%' )  and a.make ='SUZUKI'		THEN	'INTRUDER'
			WHEN	(a.model like 'JR50%' )  and a.make ='SUZUKI'		THEN	'JR50'
			WHEN	(a.model like 'KING%QUAD%' )  and a.make ='SUZUKI'	THEN	'KINGQUAD'
			WHEN	(a.model like 'LS650%' )  and a.make ='SUZUKI'		THEN	'LS650'
			WHEN	(a.model like 'LT%160%' )  and a.make ='SUZUKI'		THEN	'LT160'
			WHEN	(a.model like 'LT%A%' )  and a.make ='SUZUKI'		THEN	'LTA'
			WHEN	(a.model like 'LT%F%' )  and a.make ='SUZUKI'		THEN	'LTF'
			WHEN	(a.model like 'LT%R%' )  and a.make ='SUZUKI'		THEN	'LTR'
			WHEN	(a.model like 'LT%Z%' )  and a.make ='SUZUKI'		THEN	'LTZ'
			WHEN	(a.model like 'LT%250%' )  and a.make ='SUZUKI'		THEN	'LT250'
			WHEN	(a.model like 'LT80%' )  and a.make ='SUZUKI'		THEN	'LT80'
			WHEN	(a.model like 'M109%' )  and a.make ='SUZUKI'		THEN	'M109'
			WHEN	(a.model like 'M50%' )  and a.make ='SUZUKI'		THEN	'M50'
			WHEN	(a.model like 'M90%' )  and a.make ='SUZUKI'		THEN	'M90'
			WHEN	(a.model like 'OZARK%' )  and a.make ='SUZUKI'		THEN	'OZARK'
			WHEN	(a.model like 'RM%Z%' )  and a.make ='SUZUKI'		THEN	'RMZ'
			WHEN	(a.model like 'RM%125%' )  and a.make ='SUZUKI'		THEN	'RM125'
			WHEN	(a.model like 'RM250%' )  and a.make ='SUZUKI'		THEN	'RM250'
			WHEN	(a.model like 'RM80%' )  and a.make ='SUZUKI'		THEN	'RM80'
			WHEN	(a.model like 'RM85%' )  and a.make ='SUZUKI'		THEN	'RM85'
			WHEN	(a.model like 'RMX%' )  and a.make ='SUZUKI'		THEN	'RMX'
			WHEN	(a.model like 'S40%' )  and a.make ='SUZUKI'		THEN	'S40'
			WHEN	(a.model like 'S50%' )  and a.make ='SUZUKI'		THEN	'S50'
			WHEN	(a.model like 'S83%' )  and a.make ='SUZUKI'		THEN	'S83'
			WHEN	(a.model like 'SAVAGE%' )  and a.make ='SUZUKI'		THEN	'SAVAGE'
			WHEN	(a.model like 'SFV650%' )  and a.make ='SUZUKI'		THEN	'SFV650'
			WHEN	(a.model like 'SV%650%' )  and a.make ='SUZUKI'		THEN	'SV650'
			WHEN	(a.model like 'SV1000%' )  and a.make ='SUZUKI'		THEN	'SV1000'
			WHEN	(a.model like 'TL%1000%' )  and a.make ='SUZUKI'	THEN		'TL1000'
			WHEN	(a.model like 'UH200%' )  and a.make ='SUZUKI'		THEN	'UH200'
			WHEN	(a.model like 'VL1500%' )  and a.make ='SUZUKI'		THEN	'VL1500'
			WHEN	(a.model like 'VL800%' )  and a.make ='SUZUKI'		THEN	'VL800'
			WHEN	(a.model like 'VZ1500%' )  and a.make ='SUZUKI'		THEN	'VZ1500'
			WHEN	(a.model like 'VZ1800%' )  and a.make ='SUZUKI'		THEN	'VZ1800'
			WHEN	(a.model like 'VZ800%' )  and a.make ='SUZUKI'		THEN	'VZ800'
			WHEN	(a.model like 'VZR%' )  and a.make ='SUZUKI'		THEN	'VZR'
			WHEN	(a.model like 'Xl%7%%' )  and a.make ='SUZUKI'		THEN	'XL7'
			when	(a.model like '%RAW%' )  and a.make ='TIMBERSLED'	then	'RAW'
			when	(a.model like 'ST%120%' )  and a.make ='TIMBERSLED'	then	'ST120'
			when (a.model like 'AMERICA%' )  and a.make ='TRIUMPH'		then 'AMERICAN'
			when (a.model like 'BONN%' )  and a.make ='TRIUMPH'			then 'BONNEVILLE'
			when (a.model like 'DAYTONA%' )  and a.make ='TRIUMPH'		then 'DAYTONA'
			when (a.model like 'ROCKET%' )  and a.make ='TRIUMPH'		then 'ROCKET'
			when (a.model like 'SCRAMBLER%' )  and a.make ='TRIUMPH'	then 	'SCRAMBLER'
			when (a.model like 'SPEED%' )  and a.make ='TRIUMPH'		then 	'SPEED'
			when (a.model like 'SPRINT%' )  and a.make ='TRIUMPH'		then 'SPRINT'
			when (a.model like 'T%100%' )  and a.make ='TRIUMPH'		then 	'T100'
			when (a.model like 'THRUXTON%' )  and a.make ='TRIUMPH'		then 'THRUXTON'
			when (a.model like 'THUNDERBIRD%' )  and a.make ='TRIUMPH'	then 	'THUNDERBIRD'
			when (a.model like 'TIGER%' )  and a.make ='TRIUMPH'		then 	'TIGER'
			when (a.model like 'TRIDENT%' )  and a.make ='TRIUMPH'		then 'TRIDENT'
			when (a.model like '%MOUNTAINMAX%' )  and a.make ='YAMAHA'	THEN	'MOUNTAINMAX'
			when (a.model like '%Sportsman%' )  and a.make ='YAMAHA'		THEN	'SPORTSMAN'
			when (a.model like '%RAPTOR%' )  and a.make ='YAMAHA'		THEN	'RAPTOR'
			when (a.model like '%APEX%' )  and a.make ='YAMAHA'			THEN	'APEX'
			when (a.model like '%BEAR TRAKER%' )  and a.make ='YAMAHA'	THEN	'BEAR TRACKER'
			when (a.model like '%BOLT%' )  and a.make ='YAMAHA'			THEN	'BOLT'
			when (a.model like '%CP250%' )  and a.make ='YAMAHA'			THEN	'CP250'
			when (a.model like '%CW50%' )  and a.make ='YAMAHA'			THEN	'CW50'
			when (a.model like '%CZD300%' )  and a.make ='YAMAHA'		THEN	'CZD300'
			when (a.model like '%EF%' )  and a.make ='YAMAHA'			THEN	'EF'
			when (a.model like 'ER%' )  and a.make ='YAMAHA'				THEN	'ER'
			when (a.model like 'EX%' )  and a.make ='YAMAHA'				THEN	'EX'
			when (a.model like 'FA%1800%' )  and a.make ='YAMAHA'		THEN	'FA1800'
			when (a.model like 'FB%1800%')  and a.make ='YAMAHA'			THEN	'FB1800'
			when (a.model like 'FC%1800%')  and a.make ='YAMAHA'			THEN	'FC1800'
			when (a.model like 'FJ%9%' )  and a.make ='YAMAHA'			THEN	'FJ09'
			when (a.model like 'FJR%' )  and	a.make ='YAMAHA'			THEN	'FJR'
			when (a.model like 'FX%' )  and		a.make ='YAMAHA'				THEN	'FX'
			when (a.model like 'FZ%6%' )  and	a.make ='YAMAHA'			THEN	'FZ 6'
			when (a.model like 'FZ%10%' )  and	a.make ='YAMAHA'			THEN	'FZ 10'
			when (a.model like 'GENERATOR%' )  and a.make ='YAMAHA'		THEN	'GENERATOR'	
			when (a.model like 'JY44%' )  and	a.make ='YAMAHA'			THEN	'JY44'
			when (a.model like 'MT%03%' )  and	a.make ='YAMAHA'			THEN	'MT 03'
			when (a.model like 'MT%07%' )  and	a.make ='YAMAHA'			THEN	'MT 07'
			when (a.model like 'MT%09%' )  and	a.make ='YAMAHA'			THEN	'MT 09'
			when (a.model like 'MTT9%' )  and	a.make ='YAMAHA'			THEN	'MTT9'
			when (a.model like 'NYTRO%' )  and	a.make ='YAMAHA'			THEN	'NYTRO'
			when (a.model like 'OTHER%' )  and	a.make ='YAMAHA'			THEN	'OTHER'
			when (a.model like 'PW%50%' )  and	a.make ='YAMAHA'			THEN	'PW50'
			when (a.model like 'PW3028%' )  and a.make ='YAMAHA'			THEN	'PW3028'
			when (a.model like 'PZ480%' )  and	a.make ='YAMAHA'			THEN	'PZ480'
			when (a.model like 'R-1%' )  and	a.make ='YAMAHA'			THEN	'R1'
			when (a.model like 'R6%' )  and		a.make ='YAMAHA'				THEN	'R6'
			when (a.model like 'SCR95%' )  and	a.make ='YAMAHA'			THEN	'SCR95'
			when (a.model like 'SECA%' )  and	a.make ='YAMAHA'			THEN	'SECA'
			when (a.model like 'SJ700%' )  and	a.make ='YAMAHA'			THEN	'SJ700'
			when (a.model like 'SR%400%' )  and a.make ='YAMAHA'			THEN	'SR400'
			when (a.model like 'SRX%' )  and	a.make ='YAMAHA'			THEN	'SRX'
			when (a.model like 'TT%R%' )  and	a.make ='YAMAHA'			THEN	'TTR'
			when (a.model like 'TW200%' )  and	a.make ='YAMAHA'			THEN	'TW200'
			when (a.model like 'XP500%' )  and	a.make ='YAMAHA'			THEN	'XP500'
			when a.Model like 'fatboy%' then 'Fat Boy' 
		    when (a.Model like '%road star%'or a.Model like '%roadstar%') then 'ROAD STAR' 
			when (a.Model like '%roadking%'or a.Model like'%road king%') then 'ROAD KING' 
			when (a.model like '%WAVERUNNER%' or a.model like '%WAVE RUNNER%') then 'WAVE RUNNER' 
			when a.model like '#%' then substring(a.model,2,len(a.model)-1)
			when (a.model like '883 SPORTSTER') then 'SPORTSTER 883'
			when (a.model like '0') then 'Unknown'
			when (a.model like '1190 ADV R') then '1190 ADVENTURE'
			when (a.model like 'ADVENTURER') then 'ADVENTURE'
			when (a.model like '1199 PANIGALE%') then 'PANIGALE 1199'
			when (a.model like '%//%') then substring(a.model,1,charindex('//',model)-1)
			when (a.model like 'N/A') then 'Unknown'
			when (a.model like '%/%') then substring(a.model,1,charindex('/',model)-1)
			when (a.model like '%(%') then substring(a.model,1,charindex('(',model)-1)
			when (a.model like '%883%SPORTSTER') then 'SPORTSTER 883'
			when (a.model like 'SPRTSTER%883') then 'SPORTSTER 883'
			when (a. model like '%1200%SPORTSTER%') then 'SPORTSTER 1200'
			when (a.model like 'XL883')  then 'XL 883'
			when (a.model like 'XLH883')  then 'XLH 883'
			when a.model like '%AGILITY%50%' then 'AGILITY 50'
			when a.model like '%AGILITY%125%' then 'AGILITY 125'
			when (a.model like '%SPORTSMAN%90%' or a.model like '%90%SPORTSMAN%') then 'SPORTSMAN 90'
			when (a.model like '%SPORTSMAN%570%' or a.model like '%570%SPORTSMAN%') then 'SPORTSMAN 570'
			when (a.model like '%SPORTSMAN%500%' or a.model like '%500%SPORTSMAN%') then 'SPORTSMAN 500'
			when (a.model like '%SPORTSMAN%335%' or a.model like '%335%SPORTSMAN%') then 'SPORTSMAN 335'
			when (a.model like '%SPORTSMAN%400%' or a.model like '%400%SPORTSMAN%') then 'SPORTSMAN 400'
			when (a.model like '%SPORTSMAN%450%' or a.model like '%450%SPORTSMAN%') then 'SPORTSMAN 450'
			when (a.model like '%SPORTSMAN%550%' or a.model like '%550%SPORTSMAN%') then 'SPORTSMAN 550'
			when (a.model like '%SPORTSMAN%700%' or a.model like '%700%SPORTSMAN%') then 'SPORTSMAN 700'
			when (a.model like '%SPORTSMAN%800%' or a.model like '%800%SPORTSMAN%') then 'SPORTSMAN 800'
			when (a.model like '%SPORTSMAN%850%' or a.model like '%850%SPORTSMAN%') then 'SPORTSMAN 850'
			when (a.model like '%50 PREDATOR%' or  a.model like '%PREDATOR%50' or  a.model like '%50 PRED%'or  a.model like '%PRED%50')	then 'PREDATOR 50'
			when (a.model like '%90 PREDATOR%' or  a.model like '%PREDATOR%90' or  a.model like '%90 PRED%'or  a.model like '%PRED%90')	then 'PREDATOR 90'
			when (a.model like '%500 PREDATOR%' or a.model like '%PREDATOR%500' or a.model like '%500 PRED%'or a.model like '%PRED%500')	then 'PREDATOR 500'
			when (a.model like '%VINSON%') then 'VINSON 500'
			when (a.model like 'VMAX%' or model like 'V MAX%') then 'V MAX'
			when (a.model like '%350%BANSHEE%' or a.model like '%BANshee%350%') then 'BANSHEE 350'
			when (a.model like '%ROYAL STAR%' or  a.model like '%ROYALSTAR%')   then 'ROYAL STAR'
			when a.model like '1200XLT'	  then '1200 XLT'
			when a.model like '212X'		  then '212 X'
			when a.model like '%242%'		  then '242 LIMITED'
			when a.model like '25o%'		  then '250'
			when a.model like '%BEARTRACKE%' then 'BEAR TRACKER'
			when (a.model like '%350%BRUIN%' or   a.model like '%BRUIN%350%' )	then 'BRUIN 350'
			when (a.model like '%350%RAPTOR%' or  a.model like '%RAPTOR%350%' )	then 'RAPTOR 350'
			when (a.model like '%400%KODIAK%' or  a.model like '%KODIAK%400%' )	then 'KODIAK 400'
			when (a.model like '%450%Kodiak%' or  a.model like '%Kodiak%450%' )	then 'KODIAK 450'
			when (a.model like '%450%Rhino%' or   a.model like '%Rhino%450%' )	then 'RHINO 450'
			when (a.model like '%660%RHINO%' or   a.model like '%RHINO%660%' )	then 'RHINO 660'
			when (a.model like '%700%KODIAK%' or  a.model like '%KODIAK%700%' )	then 'KODIAK 700'
			when (a.model like '%700%RAPTO%' or   a.model like '%RAPTO%700%' )	then 'RAPTOR 700'
			when (a.model like '%700%RHINO%' or   a.model like '%RHINO%700%' )	then 'RHINO 700'
			when (a.model like '%750%SEC%' or     a.model like '%SEC%750%' )		then '750 SPECIAL'
			when (a.model like '%750%SPECIA%' or  a.model like '%SPECIA%750%' )	then '750 SPECIAL'
			when (a.model like '%AR%230%' or		a.model like '%230%ar%' )		then 'AR 230'
			when (a.model like '%AR%240%' or		a.model like '%240%ar%' )		then 'AR 240'
			when (a.model like '%AR%210%' or		a.model like '%210%ar%' )		then 'AR 210'
			when (a.model like '%BIG%BEAR%350%'or a.model like '%350%BIG%BEAR%' )	then 'BIG BEAR 350'
			when (a.model like '%BIG%BEAR%400%' or a.model like '%400%BIG%BEAR%' )then 'BIG BEAR 400'
			when (a.model like 'BIG%BEAR' or	     a.model like 'BIG%BEAR' )		then 'BIG BEAR'
			when (a.model like '%Breeze%' )  and a.make ='YAMAHA'				then 'BREEZE'
			when (a.model like '%BLASTER%' )  and a.make ='YAMAHA'			then 'BLASTER'
			when (a.model like '%DT%250%' or	     a.model like '%250%DT%' )      then 'DT 250'
			when a.model like '%FX%CRU%' then 'FX CRUISER'
			when a.model like '%FX%SHO%' then 'FX CRUISER'
			when (a.model like 'FZ%10' or a.model like '10%FZ' )	then 'FZ 10'
			when (a.model like 'FZ%6'or	a.model like '6%FZ' )	then 'FZ 6'
			when (a.model like 'FZ%8%'or	a.model like '8%FZ' )	then 'FZ 8'
			when (a.model like 'FZ%1'or	a.model like '1%FZ' )	then 'FZ 1'
			when (a.model like 'FZ%7%'or	a.model like '7%FZ%' )	then 'FZ 7'
			when (a.model like 'FZ%9%'or	a.model like '9%FZ%' )	then 'FZ 9'
			when a.model like '%FZR%'			then 'FZR'
			when a.model like '%FZS%'			then 'FZS'
			when (a.model like '%GP%1200%' or	a.model like '%1200%GP%')	then 'GP 1200'
			when (a.model like '%GP%1300%' or	a.model like '%1300%GP%')	then 'GP 1300'
			when (a.model like '%GP%800%' or	a.model like '%800%GP%')	then 'GP 800'
			when (a.model like '%GP%1800%' or	a.model like '%1800%GP%')	then 'GP 1800'
			when (a.model like '%GP%760%' or	a.model like '%760%GP%')	then 'GP 760'
			when (a.model like '%GRIZZLEY%'	)								then 'GRIZZLY'
			when (a.model like '%GRIZZL%' )  and a.make ='YAMAHA'			then 'GRIZZLY'
			when (a.model like '%GT%80%' or		a.model like '%80%GT%')		then 'GT 80'
			when (a.model like '%GTS%1000%' or	a.model like '%1000%GTS%')	then 'GTS 1000'
			when (a.model like '%GX%1800%' or	a.model like '%1800%GX%')	then 'GX 1800'
			when (a.model like '%EX%1050%' or	a.model like '%1050%EX%')	then 'EX 1050'
			when (a.model like '%FA%1800%' or	a.model like '%1800%FA%')	then 'FA 1800'
			when (a.model like '%FB%1800%' or	a.model like '%1800%FB%')	then 'FB 1800'
			when (a.model like '%FC%1800%' or	a.model like '%1800%FC%')	then 'FC 1800'
			when (a.model like '%FJ%09%' or		a.model like '%09%FJ%')		then 'FJ 09'
			when (a.model like '%FJ1200%' or	a.model like '%1200FJ%')	then 'FJ 1200'
			when (a.model like '%FJR%1300%' or	a.model like '%1300%FJR%')	then 'FJR 1300'
			when (a.model like '%FJR%13%' and	a.model not like '%FJR%1300%') then 'FJR 13'
			when (a.model like '%FX%1000%' )	then 'FX 1000'
			when (a.model like '%FX%1100%' )	then 'FX 1100'
			when (a.model like '%FX%10M%' )		then 'FX 10M'
			when (a.model like '%FX%1800%' )	then 'FX 1800'
			when (a.model like '%FY%1800%' )	then 'FX 1800'
			when (a.model like '%LS%2000%' )	then 'LS 2000'
			when (a.model like '%MAJESTY%400%' )	then	'MAJESTY 400'
			when (a.model like '%MAXI%550%' )	then 'MAXIM 550'
			when (a.model like '%MAXI%650%' )	then 'MAXIM 650'
			when (a.model like '%MAXI%750%' )	then 'MAXIM 750'
			when (a.model like 'MAXIUM' )		then 'MAXIM'
			when (a.model like 'MM700%')		then 'MM700'
			when (a.model like 'MOTO%4%')		then 'MOTO 4'
			when (a.model like 'MT%07%' )		then 'MT 07'
			when (a.model like 'MT%09%' )		then 'MT 09'
			when (a.model like 'MT%03%' )		then 'MT 03'
			when (a.model like 'MT10%')			then 'MT 10'
			when (a.model like 'MTT9%' )		then 'MTT9'
			when (a.model like '%NYTRO%' )  and a.make ='YAMAHA' then 'NYTRO'
			when (a.model like 'PW%50%' )		then 'PW50'
			when (a.model like 'PW%80%' )		then 'PW80'
			when (a.model like 'PW%3028%' )		then 'PW3028'
			when (a.model like 'PW%4040%' )		then 'PW4040'
			when (a.model like 'PZ%480%' )		then	'PZ480'
			when (a.model like 'PZ%50%' )		then	'PZ50'
			when (a.model like 'R-3' )			then	'R3'
			when (a.model like 'R-6%' OR a.model like 'R6S' OR a.model like 'R6 S')	then	'R6'
			when (a.model like 'RAIDER XV19%' )	then	'RAIDER XV19'
			when (a.model like 'RAODSTAR1600' )	then	'ROADSTAR1600'
			when (a.model like 'RAPTER%' OR a.model like 'REPTOR%') then 'RAPTOR'
			when (a.model like 'RAPTOR50')	then	'RAPTOR 50'
			when (a.model like 'RAPTOR90%' OR a.model like 'RAPTOR 90%')	then	'RAPTOR 90'
			when (a.model like 'REVA' )	then	'RIVA'
			when (a.model like 'ROAD%LINER%' )	then 'ROADLINER'
			when (a.model like 'RS90%' )	then	'RS90'
			when (a.model like 'RSG90%' )	then	'RSG90'
			when (a.model like 'RS%VECTOR%' )	then	'RSVECTOR'
			when (a.model like 'rs%venture%' )		then 'RS VENTURE'
			when (a.model like 'RX-1' OR a.model like 'RX1 WA%')	then	'RX1'
			when (a.model like 'RX10%' )	then		'RX10'
			when (a.model like 'RXW10%' )	then		'RXW10'
			when (a.model like 'RYAL%STAR%' OR a.model like 'RYL%STAR%')	then	'ROYAL STAR'
			when (a.model like 'SECA II' )		then 'SECA 2'
			when (a.model like 'SIDEWINDE%' )	then 'SIDEWINDER'
			when (a.model like 'SILERADO%' )	then 'SILVERADO'
			when (a.model like 'SJ700%' )		then 'SJ700'
			when (a.model like 'Sno%Scoot%' )	then 'SNOSCOOT'
			when (a.model like 'SR400%' )		then 'SR 400'
			when (a.model like 'SR10%' )		then 'SR10'
			when (a.model like 'SRVIPER%' )	then 'SRVIPER'
			when (a.model like 'STRATO%' )	then 	'STRATOLINER'
			when (a.model like 'SUPER' OR a.model like 'SUPERTENE%' OR a.model like 'SUPER TENE%' )	then'SUPER TENERE'
			when (a.model like 'SUPERJET%' OR a.model like 'SUPER JET%'OR a.model like 'SUPERES')	then	'SUPER JET'
			when (a.model like '%snoscoot%' )  and make ='YAMAHA' then 'SNOSCOOT'
			when (a.model like 'SW10%' )	then 	'SW10'
			when (a.model like 'SW1NMS%' )	then 	'SW1NMS'
			when (a.model like 'SX 230%' )	then 	'SX230'
			when (a.model like 'SXR%' )		then 'SXR'
			when (a.model like 'SXV%700%' )	then 'SXV700'
			when (a.model like 'TIMBERWOLF%' OR a.model like'TMBRWLF%')	then	'TIMBERWOLF'
			when (a.model like 'Tracer%900%GT%' )	then	'TRACER900GT'
			when (a.model like 'TW%200%' )		then	'TW200'
			when (a.model like 'U' or a.model like 'UNKNOWN')	then 'UNKNOWN MODEL'
			when (a.model like 'V%MAX%' )	then	'V MAX'
			when (a.model like '%V%STAR%' )	then 'V STAR'
			when (a.model like '%V1 SPORT%' )	then 'V1 SPORT'
			when (a.model like '%VC%1800%' )	then 'VC1800'
			when (a.model like 'VENTURE%' )	then 'VENTURE'
			when (a.model like '%VIKING%' )	then 'VIKING'
			when (a.model like '%VINO%' )	then	'VINO'
			when (a.model like '%VIPER%' ) and a.make ='YAMAHA' then 'VIPER'
			when (a.model like '%VIRAGO%' )	then 'VIRAGO'
			when (a.model like '%VK10%' )	then 	'VK10'
			when (a.model like '%VMX%' )	then 	'VMX'
			when (a.model like 'VS%' )		then 	'VS'
			when (a.model like 'VT%' )  and a.make ='YAMAHA'	then 'VT'
			when (a.model like '%Vulcan%' )	then 'VULCAN'
			when (a.model like '%VX%' )  and a.make ='YAMAHA' then 'VX'
			when (a.model like '%WARRIOR%' )	then 'WARRIOR'
			when (a.model like '%WAVE%BLASTER%' )	then 'WAVE BLASTER'
			when (a.model like '%WAVE%RAIDER%' )	then 'WAVE RAIDER'
			when (a.model like '%WAVE%RUNNER%' )	then 'WAVE RUNNER'
			when (a.model like '%WAVE%VENTURE%' )	then 'WAVE VENTURE'
			when (a.model like '%WBASH%' )			then 'WBASH'
			when (a.model like '%WOLVERIN%' )		then 'WOLVERINE'
			when (a.model like '%WR%' )  and a.make ='YAMAHA'	then 'WR'
			when (a.model like '%XA%' )  and a.make ='YAMAHA'	then 'XA'
			when (a.model like '%XC%' )  and a.make ='YAMAHA'	then 'XC'
			when (a.model like '%XF%' )  and a.make ='YAMAHA'	then 'XF'
			when (a.model like '%XJ%' )  and a.make ='YAMAHA'	then 'XJ'
			when (a.model like '%XL%' )  and a.make ='YAMAHA'	then 'XL'
			when (a.model like '%XS%' )  and a.make ='YAMAHA'	then 'XS'
			when (a.model like '%XT%' )  and a.make ='YAMAHA'	then 'XT'
			when (a.model like '%XV%' )  and a.make ='YAMAHA'	then 'XV'
			when (a.model like '%YFA%' )  and a.make ='YAMAHA'	then 'YFA'
			when (a.model like '%YFB%' )  and a.make ='YAMAHA'	then 'YFB'
			when (a.model like '%YFH%' )  and a.make ='YAMAHA'	then 'YFH'
			when (a.model like '%YFM%' )  and a.make ='YAMAHA'	then 'YFM'
			when (a.model like '%YFP%' )  and a.make ='YAMAHA'	then 'YFP'
			when (a.model like '%YFS%' )  and a.make ='YAMAHA'	then 'YFS'
			when (a.model like '%YFZ%' )  and a.make ='YAMAHA'	then 'YFZ'
			when (a.model like '%YJ%' )  and a.make ='YAMAHA'	then 'YJ'
			when (a.model like '%YM%' )  and a.make ='YAMAHA'	then 'YM'
			when (a.model like '%YP%' )  and a.make ='YAMAHA'	then 'YP'
			when (a.model like '%YRM%' )  and a.make ='YAMAHA'	then 'YRM'
			when (a.model like '%YTORC%' )  and a.make ='YAMAHA'then 'YTORC'
			when (a.model like '%YW%' )  and a.make ='YAMAHA'	then 'YW'
			when (a.model like '%YXC%' )  and a.make ='YAMAHA'	then 'YXC'
			when (a.model like '%YXE%' )  and a.make ='YAMAHA'	then 'YXE'
			when (a.model like '%YXF%' )  and a.make ='YAMAHA'	then 'YXF'
			when (a.model like '%YXM%' )  and a.make ='YAMAHA'	then 'YXM'
			when (a.model like '%YXP%' )  and a.make ='YAMAHA'	then 'YXP'
			when (a.model like '%YXR%' )  and a.make ='YAMAHA'	then 'YXR'
			when (a.model like '%YXZ%' )  and a.make ='YAMAHA'	then 'YXZ'
			when (a.model like '%YZ%' )  and a.make ='YAMAHA'	then 'YZ'
			when (a.model like '%ZUMA%' )  and a.make ='YAMAHA'	then 'ZUMA'
			when (a.model like '%TTR%' )  and  a.make ='YAMAHA' THEN 'TTR'
			when (a.model like '%FZ%07%' )  and a.make ='YAMAHA' then 'FZ 7'
			else a.Model end),
	    a.modelyear = (case when len(isnull(a.modelyear,''))<4 then 1900 else a.modelyear end) 
	   from @makemodel a 
	  return;
	  end;