USE [clictell_auto_master]
GO
/****** Object:  StoredProcedure [master].[nxt_service_dt_cust_2_veh_update]    Script Date: 11/2/2021 2:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ALTER Procedure [master].[nxt_service_dt_cust_2_veh_update]
declare
	@file_process_id int
--as
/*
*************************************************************************************************   
 Copyright 2021 Clictell  
  
 PURPOSE    
 Update column 'next_service_date' in  'master.cust_2_vehicle' using maintenance_schedule 
  
 PROCESSES    
  
 MODIFICATIONS    
 Date(dd-mm-yyyy)	Author		Work		Tracker Id		Description      
 ---------------------------------------------------------------------------------------------------    
 07/14/2021		K.Srikanth  Created    Update column 'next_service_date' in  'master.cust_2_vehicle'
 ---------------------------------------------------------------------------------------------------  
 exec [master].[nxt_service_dt_cust_2_veh_update] 1806
***************************************************************************************************
*/

begin

	--Declare @dealer_id int = 1806

	IF OBJECT_ID('tempdb..#maintenance_schedule') IS NOT NULL DROP TABLE #maintenance_schedule
	IF OBJECT_ID('tempdb..#roh') IS NOT NULL DROP TABLE #roh
	IF OBJECT_ID('tempdb..#com1') IS NOT NULL DROP TABLE #com1
	IF OBJECT_ID('tempdb..#com2') IS NOT NULL DROP TABLE #com2
	IF OBJECT_ID('tempdb..#result') IS NOT NULL DROP TABLE #result
	IF OBJECT_ID('tempdb..#nxt_service_miles') IS NOT NULL DROP TABLE #nxt_service_miles
	IF OBJECT_ID('tempdb..#nxt_service_sales') IS NOT NULL DROP TABLE #nxt_service_sales
	IF OBJECT_ID('tempdb..#temp_result') IS NOT NULL DROP TABLE #temp_result
	IF OBJECT_ID('tempdb..#temp_result1') IS NOT NULL DROP TABLE #temp_result1
	IF OBJECT_ID('tempdb..#nxt_ro_clc') IS NOT NULL DROP TABLE #nxt_ro_clc

	select a.parent_dealer_id, a.cust_vehicle_id, a.vin, a.cust_dms_number, a.master_customer_id, b.daily_average_mile,  a.master_vehicle_id, 
			a.first_ro_date, a.first_ro_mileage, a.last_ro_date, a.last_ro_mileage, a.last_sale_date, a.last_sale_mileage,
			'1900-01-01' as next_service_date_4srv, '1900-01-01' as next_service_date_4sales
	into #temp_result
	from master.cust_2_vehicle a (nolock)
	inner join master.customer b (nolock) on
		a.master_customer_id = b.master_customer_id
	where a.is_deleted = 0
	and a.inactive_date is null
	and a.parent_dealer_id = 1806 
	--and a.file_process_id = @file_process_id


	create table #maintenance_schedule

	(
		s_no int identity(1,1)
		,parent_dealer_id int
		,general_service_start_miles int
		,general_service_end_miles int
		,general_service_start_months int
		,general_service_end_months int
		,minor_service_miles int
		,minor_service_months int
		,major_service_miles int
		,major_service_months int
		,is_deleted bit default 0
		,created_by varchar(50) default suser_name()
		,created_date datetime default getdate()
		,updated_by varchar(50) default suser_name()
		,updated_date datetime default getdate()
	)


		--select * from #maintenance_schedule


	--select a.parent_dealer_id, a.cust_vehicle_id, a.vin, a.cust_dms_number, a.master_customer_id, a.master_vehicle_id, a.last_ro_mileage, last_ro_date, 
	--b.general_service_start_miles, b.general_service_end_miles, a.daily_average_mile, (general_service_end_miles - last_ro_mileage)/daily_average_mile as days_due,
	--DateAdd(day, (general_service_end_miles - last_ro_mileage)/daily_average_mile, Cast(Cast(last_ro_date as varchar(10)) as date)) as nxt_ro_clc,
	--datediff(day,getdate(),DateAdd(day, (general_service_end_miles - last_ro_mileage)/daily_average_mile, Cast(Cast(last_ro_date as varchar(10)) as date))) as lapsed_days
	Update a set a.next_service_date_4srv = DateAdd(day, (general_service_end_miles - last_ro_mileage)/Isnull(daily_average_mile, 40), Cast(Cast(last_ro_date as varchar(10)) as date))
		
	from #temp_result a
	inner join #maintenance_schedule b  on 
		a.last_ro_mileage between b.general_service_start_miles and b.general_service_end_miles
	where a.last_ro_mileage is not null and a.last_ro_date is not null



	--select a.parent_dealer_id, a.cust_vehicle_id, a.vin, a.cust_dms_number, a.master_customer_id, a.master_vehicle_id, isnull(a.last_sale_date, a.first_ro_date), 
	--b.general_service_start_months, b.general_service_end_months, dateDiff(month, Cast(Cast(isnull(a.last_sale_date, a.first_ro_date) as varchar(10)) as date), getdate()),
	--DateAdd(month, dateDiff(month, Cast(Cast(isnull(a.last_sale_date, a.first_ro_date) as varchar(10)) as date), getdate()), Cast(Cast(isnull(a.last_sale_date, a.first_ro_date) as varchar(10)) as date))
	Update a set a.next_service_date_4sales = 
				DateAdd(month
						--, dateDiff(month, Cast(Cast(isnull(a.last_sale_date, a.first_ro_date) as varchar(10)) as date), getdate())
						,b.general_service_end_months
						, Cast(Cast(isnull(a.last_sale_date, a.first_ro_date) as varchar(10)) as date)
						)
	from #temp_result a
	inner join #maintenance_schedule b  on 
		dateDiff(month, Cast(Cast(isnull(a.last_sale_date, a.first_ro_date) as varchar(10)) as date), getdate()) between b.general_service_start_months and b.general_service_end_months
	where isnull(a.last_sale_date, a.first_ro_date) is not null


	--select *, 
	--	(Case when next_service_date_4srv != '1900-01-01' and next_service_date_4sales = '1900-01-01' then next_service_date_4srv
	--		  when next_service_date_4srv = '1900-01-01' and next_service_date_4sales != '1900-01-01' then next_service_date_4sales
	--		  when next_service_date_4srv != '1900-01-01' and next_service_date_4srv <= next_service_date_4sales then next_service_date_4srv 
	--		  when next_service_date_4sales != '1900-01-01' and next_service_date_4sales > next_service_date_4srv then next_service_date_4sales
	--		  when next_service_date_4sales = next_service_date_4sales then next_service_date_4sales
	--	else next_service_date_4sales end) as final_next_service_due_date
	--into #temp_result1
	--from #temp_result --where next_service_date_4srv != '1900-01-01' 
	--order by 16 desc



	--select * from #temp_result1 order by final_next_service_due_date

	--update #temp_result1 set final_next_service_due_date = null where final_next_service_due_date = '1900-01-01'
	--select count(*) from #temp_result1 --50975
	--select count(*) from #temp_result1 where final_next_service_due_date < getdate() and final_next_service_due_date <> '1900-01-01' --22205
	
	
	select * 
	,datediff(day,getdate(),next_service_date_4srv) as nxt_srv_4srv_today_diff
	,datediff(day,getdate(),next_service_date_4sales) as nxt_srv_4sales_today_diff
	,case when datediff(day,getdate(),next_service_date_4srv) > 0 
			  and datediff(day,getdate(),next_service_date_4sales) > 0 
			  and (datediff(day,getdate(),next_service_date_4srv)) < ABS(datediff(day,getdate(),next_service_date_4sales)) then next_service_date_4srv
		  when datediff(day,getdate(),next_service_date_4srv) > 0 
		  	  and datediff(day,getdate(),next_service_date_4sales) > 0 
		  	  and (datediff(day,getdate(),next_service_date_4srv)) > ABS(datediff(day,getdate(),next_service_date_4sales)) then next_service_date_4sales
		  when datediff(day,getdate(),next_service_date_4srv) > 0 and datediff(day,getdate(),next_service_date_4sales) < 0 then next_service_date_4srv
		  when datediff(day,getdate(),next_service_date_4srv) < 0 and datediff(day,getdate(),next_service_date_4sales) > 0 then next_service_date_4sales
		  end as final_next_service_due_date
		into #temp_result1
	from #temp_result --50975

	--select * from #temp_result1 where vin = '1HGCP2F33AA098752'
return;
	select a.cust_vehicle_id,a.vin,a.cust_dms_number, a.last_ro_date,a.last_sale_date, a.next_service_date, b.final_next_service_due_date
	--Update a set a.next_service_date = b.final_next_service_due_date
	from master.cust_2_vehicle a (nolock)
	inner join #temp_result1 b on a.cust_vehicle_id = b.cust_vehicle_id
	where final_next_service_due_date >= getdate()


	
	
end